<div class="column-wrapper">
  <div class="column column-navbar">
    <%= render 'shared/navbar' %>
  </div>

  <div class="column column-subnav">
    <h2 class="column-heading">Settings</h2>

    <h5 class="heading-bar column-heading">Personal Settings</h5>

    <ul class="column-navigation">
      <li>
        <a href="<%= edit_settings_personal_path %>" class="text-muted">
          Your Personal Information <br />
          <span class="text-weak text-smaller">Name, email, avatar</span>
        </a>
      </li>
    </ul>

    <h5 class="heading-bar column-heading">Account Settings</h5>

    <ul class="column-navigation">
      <li>
        <a href="<%= edit_settings_admin_path %>" class="text-muted">
          Admin <br />
          <span class="text-weak text-smaller">Company Settings etc.</span>
        </a>
      </li>
      <li>
        <a href="<%= edit_settings_payment_path %>" class="text-muted">
          Payment <br />
          <span class="text-weak text-smaller">Pay the bills babies</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="column column-detail">

    <header class="column-heading">
      <h2 class="text-black">Personal Information</h2>
      <p class="text-weak text-smaller">
        This is the information that makes you unique inside. Treasure your inner animal.
      </p>
    </header>

    <div class="column-content">
      <%= form_for current_user, url: settings_personal_path, html: {class: 'form'} do |f| %>

        <div class="form-group">
          <%= f.label :email, 'Email Address', class: 'form-label' %>
          <%= f.text_field :email, autofocus: true, placeholder: 'coyote@acme.com', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :username, 'Username', class: 'form-label' %>
          <%= f.text_field :username, autofocus: true, placeholder: 'coyote', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :name, 'Name', class: 'form-label' %>
          <%= f.text_field :name, autofocus: true, placeholder: 'coyote', class: 'form-control' %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Update my account settings', :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
