<%= form_for [@account, @canned_response], html: { class: 'form' } do |f| %>

  <div class="form-group">
    <%= f.label :key, t('.key'), class: 'form-label' %>
    <%= f.text_field :key, autofocus: true, placeholder: t('.key_placeholder'), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :messsage, t('.message'), class: 'form-label' %>
    <%= f.text_area :message, placeholder: t('.message_placeholder'), class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit @canned_response.persisted? ? t('.update') : t('.create'), class: 'btn btn-primary' %>
  </div>
<% end %>
