<%= form_for [@account, @canned_response], html: { class: 'form' } do |f| %>

  <div class="form-group">
    <%= f.label :key, 'Key', class: 'form-label' %>
    <%= f.text_field :key, autofocus: true, placeholder: 'Enter key used to lookup the response', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :messsage, 'Message', class: 'form-label' %>
    <%= f.text_area :message, autofocus: true, placeholder: 'Include the full message to include in future responses', class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit @canned_response.persisted? ? 'Update' : 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>
