<div class="message">
  <div class="person">
    <%= avatar_default(message.person) %>
  </div>

  <div class="content">
    <%== markdown(message.content) %>
  </div>

  <% if message.attachments.count > 0 %>
    <%= render 'messages/attachments', attachments: message.attachments %>
  <% end %>

  <div class="meta">
    Posted <%= time_ago_in_words(message.updated_at) %> ago
    by <%= nickname(message.person) %>
  </div>
</div>
