<div class="message">
  <div class="timestamp">
    <%= time_ago_in_words(message.created_at) %> <%= t('general.ago') %>
  </div>

  <%= avatar_default(message.person) %>

  <div class="person">
    <%= nickname(message.person) %>
  </div>

  <div class="content">
    <%== markdown(message.content) %>
  </div>

  <% if message.attachments.count > 0 %>
    <%= render 'messages/attachments', attachments: message.attachments %>
  <% end %>
</div>
