<%= render 'shared/header' %>

<table>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td>
          <a href="<%= message_path(message) %>"><%= mesage.number %></a>
        </td>
        <td><%= time_ago_in_words(message.created_at) %> ago</td>
        <td><%= mesage.from %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/footer' %>