<%= render "devise/shared/brand" %>

<div class="panel panel-default">
  <div class="panel-body">
    <h4>Resend confirmation instructions</h4>

    <hr />

    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, :class => "control-label" %>
        <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => t('general.email_placeholder') %>
      </div>

      <div>
        <%= f.submit "Resend instructions", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
