<div class="conversation">

  <div class="conversation-heading">
    <div class="detail">
      #<%= conversation.number %>
    </div>

    <div class="summary">
      <%= summary(conversation) %>
    </div>

    <div class="meta">

      <ul class="participants">
        <% conversation.participants.each do |participant| %>
          <li>
            <%= nickname(participant) %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>

  <div class="conversation-body">
    <div class="conversation-stream">
      <% ConversationStream.new(conversation).each do |item| %>
        <div class="conversation-stream-item">
          <% case item %>
          <% when Message %>
            <%= render 'messages/message', message: item %>
          <% when Note %>
            <%= render 'notes/note', note: item %>
          <% end %>
        </div>
      <% end %>

      <div class="conversation-stream-item conversation-stream-item-attached">
        <%= form_tag account_messages_path(@account), method: 'post' do %>
          <%= hidden_field :message, :conversation_id, value: conversation.id %>

          <div class="conversation-reply">
            <%= text_area :message, :content, placeholder: 'Reply to this conversation…', rows: 4 %>
            <div class="command-bar">
              <!-- Display these once we have more UI designed
              <button class="btn btn-light" name="assign">@Assign</button>
              <button class="btn btn-light" name="tag">#Tag</button>
              <button class="btn btn-light" name="canned_response">:Canned Response</button>
              -->

              <div class="pull-right">
                <input class="btn btn-danger" type="submit" name="commit" value="Archive">
                <input class="btn btn-primary" type="submit" name="commit" value="Send">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="conversation conversation-next">
    <% if @next_conversation %>
      <a href="<%= account_conversation_path(@account, @next_conversation) %>">
        <p class="conversation-next-heading text-muted text-uppercase">Next Conversation</p>

        <div class="conversation-heading">
          <div class="detail">
            #<%= @next_conversation.number %>
          </div>

          <div class="summary">
            <%= summary(@next_conversation) %>
          </div>

          <div class="meta">

            <ul class="participants">
              <% @next_conversation.participants.each do |participant| %>
                <li>
                  <%= nickname(participant) %>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
      </a>
    <% else %>
      <p>You made it to the last message!</p>

      <a class="btn btn-primary" href="<%= inbox_account_conversations_path(@account) %>">Back to the Inbox</a>
    <% end %>
  </div>
</div>
