<% if flash[:preference] %>
  <div class="alert alert-muted">
    <button type='button' class='close' data-dismiss='alert'>&times;</button>

    <p>After replying to a support request, would you like us to automatically archive the conversation?</p>

    <div class="form-actions">
      <%= form_for @account, method: :put, html: { class: 'form-inline' } do |f| %>
        <%= f.hidden_field :prefers_archiving, value: true %>
        <%= f.submit 'Auto-archive conversations', class: 'btn btn-danger' %>
      <% end %>

      <%= form_for @account, method: :put, html: { class: 'form-inline' } do |f| %>
        <%= f.hidden_field :prefers_archiving, value: false %>
        <%= f.submit 'Just create new messages', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="conversation">
  <div class="actions">
    <% unless @conversation.archived? %>
      <%= form_for [@account, @conversation] do |f| %>
        <%= f.hidden_field :archive, value: true %>
        <%= f.submit t('shared.navbar.archive'), class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  </div>

  <div class="summary">
    <div class="timestamp">
      <%= time_ago_in_words(conversation.created_at) %> <%= t('general.ago') %>
    </div>

    <%= avatar_default(conversation.creator_person) %>

    <div class="title">
      <%= summary(conversation) %>
    </div>

    <ul class="participants">
      <% conversation.participants.each do |participant| %>
        <li>
          <%= nickname(participant) %>
        </li>
      <% end %>
    </ul>

    <div class="number">
      #<%= conversation.number %>
    </div>

    <div class="icons">
    </div>

    <div class="message">
      <div class="content">
        <%== markdown(conversation.first_message.content) %>
      </div>

      <% if conversation.first_message.attachments.present? %>
        <div class="attachments">
          <%= render 'messages/attachments', attachments: conversation.first_message.attachments %>
        </div>
      <% end %>
    </div>
  </div>

  <% conversation.subsequent_messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>

  <div class="conversation-reply">
    <%= form_tag account_messages_path(@account), method: 'post' do %>
      <%= hidden_field :message, :conversation_id, value: conversation.id %>
      <%= text_area :message, :content, placeholder: t('.reply_to_conversation'), rows: 4, 'data-autosize' => '' %>

      <div class="command-bar">
        <!-- Display these once we have more UI designed
        <button class="btn btn-light" name="assign">@<%= t('.assign') %></button>
        <button class="btn btn-light" name="tag">#<%= t('.tag') %></button>
        <button class="btn btn-light" name="canned_response">:<%= t('.canned_response') %></button>
        -->
        <%= render 'conversations/markdown' %>
        <div class="pull-right">
          <input class="btn btn-primary" type="submit" name="commit" value="<%= t('.send') %>">
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @next_conversation %>
  <a class="conversation conversation-next" href="<%= account_conversation_path(@account, @next_conversation) %>">
    <p class="text-muted text-uppercase"><%= t('.next_conversation') %></p>

    <div class="summary">
      <div class="timestamp">
        <%= time_ago_in_words(@next_conversation.created_at) %> <%= t('general.ago') %>
      </div>

      <%= avatar_default(@next_conversation.creator_person) %>

      <div class="title">
        <%= summary(@next_conversation) %>
      </div>

      <ul class="participants">
        <% @next_conversation.participants.each do |participant| %>
          <li>
            <%= nickname(participant) %>
          </li>
        <% end %>
      </ul>

      <div class="number">
        #<%= @next_conversation.number %>
      </div>
    </div>
  </a>
<% else %>
  <div class="conversation conversation-next">
    <p><%= t('.made_last_message') %></p>

    <a class="btn btn-primary" href="<%= inbox_account_conversations_path(@account) %>"><%= t('.back_to_inbox') %></a>
  </div>
<% end %>
