<% if @previous_conversation %>
  <a class="conversation conversation-previous" href="<%= account_conversation_path(@account, @previous_conversation) %>">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
<% end %>

<% if flash[:preference] %>
  <div class="alert alert-muted">
    <button type='button' class='close' data-dismiss='alert'>&times;</button>

    <!-- TODO: locale is missing -->
    <p>After replying to a support request, would you like us to automatically archive the conversation?</p>

    <div class="form-actions">
      <%= form_for @account, method: :put, html: { class: 'form-inline' } do |f| %>
        <%= f.hidden_field :prefers_archiving, value: true %>
        <!-- TODO: locale is missing -->
        <%= f.submit 'Auto-archive conversations', class: 'btn btn-default' %>
      <% end %>

      <%= form_for @account, method: :put, html: { class: 'form-inline' } do |f| %>
        <%= f.hidden_field :prefers_archiving, value: false %>
        <!-- TODO: locale is missing -->
        <%= f.submit 'Just create new messages', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="conversation conversation-detail">
  <div class="actions">
    <% unless @conversation.archived? %>
      <%= form_for [@account, @conversation] do |f| %>
        <%= f.hidden_field :respond_later, value: true %>
        <%= f.submit t('conversations.row.later'), class: 'btn btn-default', style: 'margin-bottom: 10px' %>
      <% end %>

      <%= form_for [@account, @conversation] do |f| %>
        <%= f.hidden_field :archive, value: true %>
        <%= f.submit t('conversations.row.archive'), class: 'btn btn-default' %>
      <% end %>
    <% end %>
  </div>

  <div class="summary">
    <%= avatar_default(conversation.creator_person) %>

    <div class="detail">
      <span class="badge badge-message-count">
        <span class="glyphicon glyphicon-envelope"></span>
        <%= conversation.messages_count %>
      </span>

      <div class="timestamp <%= 'badge badge-timestamp-stale' if conversation.stale? %>">
        <%= time_ago_in_words(conversation.created_at) %> <%= t('general.ago') %>
      </div>

      <div class="participants participants-expandable">
        from <strong><%= nickname(conversation.participants.first) %></strong>
        <% if conversation.participants.size == 2 %>
          and <strong><%= nickname(conversation.participants.last) %></strong>
        <% elsif conversation.participants.size > 2 %>
          and <%= conversation.participants.size - 1 %> others
        <% end %>

        <div class="participants-expand-icon">i</div>
      </div>

      <div class="number">
        #<%= conversation.number %>
      </div>

      <ul class="participants-list">
        <% conversation.participants.each do |participant| %>
          <li>
            <a href="mailto:<%= participant.email %>" class="btn btn-default">
              <strong><%= nickname(participant) %></strong>
              <%= participant.email %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="title">
      <%= summary(conversation) %>
    </div>

    <div class="message">
      <div class="content">
        <%== markdown(@stream.first_item.content) %>
      </div>

      <% if @stream.first_item.attachments.present? %>
        <div class="attachments">
          <%= render 'messages/attachments', attachments: @stream.first_item.attachments %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="conversation-stream">
    <% @stream.subsequent_items.each do |item| %>
      <%= render item %>
    <% end %>
  </div>

  <div class="conversation-reply">
    <%= avatar_default(current_user.person) %>

    <%= form_tag account_messages_path(@account), method: 'post', "data-reply-form" => "" do %>
      <%= hidden_field :message, :conversation_id, value: conversation.id %>
      <%= hidden_field :message, :content %>
      <div class="reply-to-message" data-reply-to-message placeholder="<%= t('.reply_to_conversation') %>"></div>

      <div class="command-bar">

        <div class="pull-left">
          <div class="btn-group command-bar-action" data-textcomplete-path="<%= account_textcompletes_path(@account) %>">
            <button class="btn btn-default dropdown-toggle" data-search="assignments" data-toggle="dropdown">
              <%= t('.assign') %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><input type="text" class="form-control" style="margin:10px;" placeholder="Search by name"></li>
              <li class="divider"></li>
              <% @account.user_people.order('name ASC').each do |person| %>
                <li>
                  <a href="#" data-value="<%= person.name %>" data-user-id="<%= person.user_id %>">
                    <%= avatar_default(person) %>
                    <span style="margin-left: 10px"><%= person.name %></span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="btn-group command-bar-action" data-textcomplete-path="<%= account_textcompletes_path(@account) %>">
            <button class="btn btn-default dropdown-toggle" data-search="tags" data-toggle="dropdown">
              <%= t('.tag') %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><input type="text" class="form-control" style="margin:10px;" placeholder="Search by tag"></li>
              <li class="divider"></li>
              <% @account.tags.each do |tag| %>
                <li>
                  <a href="#" data-value="<%= tag %>">
                    <%= tag %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="btn-group command-bar-action" data-textcomplete-path="<%= account_textcompletes_path(@account) %>">
            <button class="btn btn-default dropdown-toggle" data-search="canned_responses" data-toggle="dropdown">
              <%= t('.canned_response') %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><input type="text" class="form-control" style="margin:10px;" placeholder="Search by key"></li>
              <li class="divider"></li>
              <% @account.canned_responses.each do |canned_response| %>
                <li>
                  <a href="#" data-value="<%= canned_response.key %>" data-id="<%= canned_response.id %>">
                    <%= canned_response.key %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="pull-right">
          <input class="btn btn-secondary" type="submit" name="commit" value="<%= t('.send') %>">
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>

<% if @next_conversation %>
  <a class="conversation conversation-next" href="<%= account_conversation_path(@account, @next_conversation) %>">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
<% end %>

<script id="action-results-template" type="text/x-handlebars-template">
  {{#each textcompletes}}
    <li>
      <a href="#" data-value="{{value}}" data-user-id="{{user_id}}" data-id="{{id}}">
        {{value}}
      </a>
    </li>
  {{/each}}
</script>

<script id="tag-event-template" type="text/x-handlebars-template">
  <div class="event">
    <div class="avatar avatar-default">
      <div class="avatar-initials" style="width: 30px; height: 30px; line-height: 30px; display: none;">{{initials}}</div>
      <img alt="{{name}} avatar" height="30" onerror="toggleAvatar(this)" src="{{avatar_url}}" width="30">
    </div>

    <strong>
      {{name}} tagged
    </strong>

    this conversation with

    <a href="#" class="tag">
      #{{tag}}
    </a>

    <span class="timestamp">
      {{updated_at_in_words}} <%= t('general.ago') %>
    </span>
  </div>
</script>

<script id="assignment-event-template" type="text/x-handlebars-template">
  <div class="event">
    <div class="avatar avatar-default">
      <div class="avatar-initials" style="width: 30px; height: 30px; line-height: 30px; display: none;">{{initials}}</div>
      <img alt="{{name}} avatar" height="30" onerror="toggleAvatar(this)" src="{{avatar_url}}" width="30">
    </div>

    <strong>
      {{name}} assigned
    </strong>

    <div class="avatar avatar-default">
      <div class="avatar-initials" style="width: 30px; height: 30px; line-height: 30px; display: none;">{{assignee_initials}}</div>
      <img alt="{{assignee_name}} avatar" height="30" onerror="toggleAvatar(this)" src="{{assignee_avatar_url}}" width="30">
    </div>

    <strong>
      {{assignee_name}}
    </strong>

    to this conversation

    <span class="timestamp">
      {{updated_at_in_words}} <%= t('general.ago') %>
    </span>
  </div>
</script>
