<div class="conversation">

  <div class="conversation-heading">
    <div class="actions">
      <%= button_to 'Archive', account_conversation_path(@account, @conversation, conversation: {archive: true}), method: :patch, data: { confirm: "Are you sure?" }, class: %w(btn btn-success), form: { id: 'archive' } %>
      <script>
        $(document).ready(function(){
          $('#archive')
            .bind('ajax:success', function(){
              window.location.href = "./";
            })
            .bind("ajax:error", function (xhr, status, error) {
              console.log('AJAX Error (#archive): ' + error);
            });
        });
      </script>
    </div>
    <div class="summary"><%= summary(conversation) %></div>
    <div class="detail">
      #<%= conversation.number %>
    </div>

    <div class="meta">
      <div class="participants">
        <span class="text-muted">With</span>
        <%= conversation.participants.map {|person| nickname(person) }.to_sentence %>
      </div>

      <div class="last-update">
        <span class="text-muted">Most recent message</span>
        <%= time_ago_in_words(conversation.most_recent_message.updated_at) %> ago
      </div>

    </div>
  </div>

  <div class="conversation-body">
    <div class="conversation-stream">
      <div class="conversation-stream-item">

        <%= form_tag account_messages_path(@account), method: 'post', class: 'form-reply' do %>
          <%= hidden_field :message, :conversation_id, value: conversation.id %>

          <div class="person conversation-stream-item-person">
            <%= avatar_default(current_user.person) %>
          </div>

          <%= text_area :message, :content, placeholder: 'Reply to this conversation…', rows: 1 %>

          <div class="form-actions">
            <div class="btn-group">
              <input class="btn btn-primary" type="submit" name="commit" value="Send &amp; Archive" />
              <input class="btn" type="submit" name="commit" value="Send" />
            </div>
          </div>
        <% end %>
      </div>

      <% ConversationStream.new(conversation).each do |item| %>
        <div class="conversation-stream-item">
          <% case item %>
          <% when Message %>
            <%= render 'messages/message', message: item %>
          <% when Note %>
            <%= render 'notes/note', note: item %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
