<div class="conversation">

  <div class="conversation-heading">
    <div class="actions">
      <%= button_to 'Archive', { action: :update, id: @conversation.id, :conversation => { :archive => true } }, :method => :put, data: { confirm: "Are you sure?" }, remote: true, class: ['btn', 'btn-success'], form: { id: 'archive', 'data-type' => 'json' } %>
      <script>
        $(document).ready(function(){
          $('#archive')
            .bind('ajax:success', function(){
              window.location.href = "./";
            })
            .bind("ajax:error", function (xhr, status, error) {
              console.log('AJAX Error (#archive): ' + error);
            });
        });
      </script>
    </div>
    <div class="summary"><%= summary(conversation) %></div>
    <div class="number">#<%= conversation.number %></div>
    <div class="meta">
      <div class="participants">
        <span class="text-muted">With</span>
        <%= conversation.participants.map {|person| nickname(person) }.to_sentence %>
      </div>

      <div class="last-update">
        <span class="text-muted">Most recent message</span>
        <%= time_ago_in_words(conversation.most_recent_message.updated_at) %> ago
      </div>

    </div>
  </div>

  <div class="conversation-body">
    <div class="conversation-stream">
      <div class="conversation-stream-item">

        <%= form_tag messages_path, method: 'post', class: 'form-reply' do %>
          <%= hidden_field :message, :conversation_id, value: conversation.id %>

          <div class="person conversation-stream-item-person">
            <%= avatar_default(current_user.person) %>
          </div>

          <div class="onoffswitch">
            <input type="hidden" name="message[internal]" value="0">
            <input type="checkbox" name="message[internal]" class="onoffswitch-checkbox" id="myonoffswitch" value="1">
            <label class="onoffswitch-label" for="myonoffswitch">
              <div class="onoffswitch-inner"></div>
              <div class="onoffswitch-switch"></div>
            </label>
          </div>

          <label>
            <%= text_field :message, :content, placeholder: 'Reply to this conversation…' %>
          </label>
        <% end %>
      </div>

      <% ConversationStream.new(conversation).each do |item| %>
        <div class="conversation-stream-item">
          <% case item %>
          <% when Message %>
            <%= render 'messages/message', message: item %>
          <% when Note %>
            <%= render 'notes/note', note: item %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
