<div class="conversation">

  <div class="conversation-heading">
    <div class="actions">
      <%= button_to 'Archive', { action: :update, id: @conversation.id, :conversation => { :archive => true } }, :method => :put, data: { confirm: "Are you sure?" }, remote: true, class: ['btn', 'btn-success'], form: { id: 'archive', 'data-type' => 'json' } %>
      <script>
        $(document).ready(function(){
          $('#archive')
            .bind('ajax:success', function(){
              window.location.href = "./";
            })
            .bind("ajax:error", function (xhr, status, error) {
              console.log('AJAX Error (#archive): ' + error);
            });
        });
      </script>
    </div>
    <div class="summary"><%= summary(conversation) %></div>
    <div class="number">#<%= conversation.number %></div>
    <div class="meta">
      <div class="participants">
        <span class="text-muted">With</span>
        <%= conversation.participants.map {|person| nickname(person) }.to_sentence %>
      </div>

      <div class="last-update">
        <span class="text-muted">Last update</span>
        <%= time_ago_in_words(conversation.updated_at) %> ago
      </div>

    </div>
  </div>

  <div class="conversation-body">
    <div class="list list-timeline">
      <div class="list-item">

        <%= form_tag messages_path, method: 'post', class: 'form-reply' do %>
          <%= hidden_field :message, :conversation_id, value: conversation.id %>

          <div class="person">
            <%= avatar(current_user.person, 45) %>
          </div>

          <label>
            <%= text_field :message, :content, placeholder: 'Reply to this conversation…' %>
          </label>
        <% end %>
      </div>

      <% conversation.messages.each do |message| %>
        <div class="list-item">
          <%= render 'messages/message', message: message %>
        </div>
      <% end %>
    </div>
  </div>
</div>
