<a class="conversation-row" href="<%= account_conversation_path(conversation.account, conversation) %>">

  <% if current_page?(list_account_conversations_path(@account)) %>
    <div class="pull-right">
      <div class="btn-group">
        <button class="btn btn-primary respond-later" data-account-conversation-path="<%= account_conversation_path(@account, conversation, conversation: { respond_later: true }) %>">
          Respond Later
        </button>

        <button class="btn btn-danger archive" data-account-conversation-path="<%= account_conversation_path(@account, conversation, conversation: { archive: true }) %>">
          Archive
        </button>
      </div>
    </div>
  <% end %>

  <div class="summary"><%= summary(conversation) %></div>

  <div class="meta">
    <%= conversation.participants.map {|person| nickname(person) }.to_sentence %>
    <span class="meta-divider"></span>
    <%= pluralize(conversation.messages.count, 'message') %>
    <span class="meta-divider"></span>
    <span class="time updated <%= most_recent_message_class(conversation) %>">
      <%= time_ago_in_words(conversation.last_activity_at) %>
    </span>
  </div>

</a>
