<a href="<%= conversation_path(conversation.account, conversation) %>" class="conversation-row">

  <input type="checkbox" />

  <div class="time updated <%= most_recent_message_class(conversation) %>">
    <%= time_ago_in_words(conversation.most_recent_message.updated_at) %>
  </div>

  <div class="summary"><%= summary(conversation) %></div>

  <div class="meta">
    <%= conversation.participants.map {|person| nickname(person) }.to_sentence %>
    <span class="meta-divider"></span>
    <%= pluralize(conversation.messages.count, 'message') %>
  </div>

</a>
