<a class="conversation conversation-row" href="<%= account_conversation_path(conversation.account, conversation) %>">
  <% if current_page?(list_account_conversations_path(@account)) %>
    <div class="actions">
      <button class="btn btn-primary respond-later" data-account-conversation-path="<%= account_conversation_path(@account, conversation, conversation: { respond_later: true }) %>">
        <%= t('.later') %>
      </button>

      <button class="btn btn-danger archive" data-account-conversation-path="<%= account_conversation_path(@account, conversation, conversation: { archive: true }) %>">
        <%= t('.archive') %>
      </button>
    </div>
  <% end %>

  <div class="summary">
    <div class="last-update">
      <%= time_ago_in_words(conversation.last_activity_at) %> <%= t('general.ago') %>
    </div>

    <%= avatar_default(conversation.creator_person) %>

    <div class="title">
      <%= summary(conversation) %>
    </div>

    <div class="message-count">
    </div>

    <ul class="participants">
      <% conversation.participants.each do |participant| %>
        <li>
          <%= nickname(participant) %>
        </li>
      <% end %>
    </ul>

    <div class="number">
      #<%= conversation.number %>
    </div>

    <div class="icons">
    </div>
  </div>
</a>
