<a href="<%= account_conversation_path(conversation.account, conversation) %>" class="conversation-row">

  <div class="pull-right">
    <button href="#" data-account-conversation-path="<%= account_conversation_path(@account, @conversation, conversation: { respond_later: true }) %>" class="btn btn-primary respond-later">
      Respond Later
    </button>
  </div>

  <div class="summary"><%= summary(conversation) %></div>

  <div class="meta">
    <%= conversation.participants.map {|person| nickname(person) }.to_sentence %>
    <span class="meta-divider"></span>
    <%= pluralize(conversation.messages.count, 'message') %>
    <span class="meta-divider"></span>
    <span class="time updated <%= most_recent_message_class(conversation) %>">
      <%= time_ago_in_words(conversation.most_recent_message.updated_at) %>
    </span>
  </div>

</a>

<script>
  $(document).ready(function() {
    $('.respond-later').click(function() {
      var $listItem = $(this).parents('.conversation-row').parent();
      var path = $(this).attr('data-account-conversation-path');

      var pushToEndOfQueue = function() {
        var $list = $listItem.parent();
        $listItem.remove().appendTo($list);
      }

      $.post(path, { conversation: { respond_later: true }, _method: 'patch' }, pushToEndOfQueue);

      return false;
    });
  });
</script>
