<div class="column-wrapper l-app">
  <div class="column column-navbar">
    <%= render 'shared/navbar' %>
  </div>

  <div class="column column-subnav">
    <h2 class="column-heading">Inbox</h2>

    <%= form_tag search_account_conversations_path(@account), method: 'get', class: 'form-search' do %>
      <label for="search-query">
        <%= search_field_tag :q, @query, placeholder: 'Search conversations', id: 'search-query' %>
      </label>
    <% end %>

    <div class="list" data-url=<%= list_account_conversations_url(@account) %> data-pusher-channel=<%= @account.slug %> data-pusher-key=<%= ENV["PUSHER_KEY"] %>></div>    
  </div>

  <% if false #@conversations.empty? %>
    <div class="column column-detail">
      <%= render 'conversations/empty' %>
    </div>
  <% end %>

</div>


<script>
  $(document).ready(function(){
    var messageIndex = 0;
    var totalCount = $('.conversation-row').length;

    var updateHighlight = function(){
      $($('.conversation-heading')).removeClass('highlight');
      $($('.conversation-heading')[messageIndex]).addClass('highlight');
    }

    var openConversation = function() {
      updateHighlight();
    }

    //keyboard shortcuts for sending and/or archiving
    $('.response').keydown(function(e){
      if(e.ctrlKey){
        switch(e.keyCode){
          case 13: //enter
            if(e.shiftKey){
              $('.response').parents('form').find('.send').click();
            }else{
              $('.response').parents('form').find('.send_archive').click();
            }
          break;
        }
      }

    });

    //keyboard shortcuts for cycling through conversations
    $(document).keydown(function(e){
        if(e.ctrlKey){
          switch(e.keyCode){
            case 32: //space
              openConversation($('.conversation-heading')[messageIndex]);
            break;
            case 74: //j
              messageIndex = (messageIndex + 1) % totalCount;
            break;
            case 75: //k
              messageIndex = (messageIndex + totalCount - 1) % totalCount;
            break;
          }
          updateHighlight();

        }
    });
  });

</script>
