<%= render 'shared/navbar' %>

<%= render "layouts/flash" %>

<div class="container">
  <div class="list list-conversations" data-url=<%= list_account_conversations_url(@account, user_id: params[:user_id]) %> data-pusher-channel=<%= @account.slug %>></div>
  <%= render 'conversations/empty' %>
</div>
