<%= render 'navbar' %>

<div class="list converation-list">
  <% if @query and @conversations.empty? %>
    No results found
  <% end %>
  <%= content_tag_for(:div, @conversations, class: 'list-item') do |conversation| %>

    <a class="conversation-heading" href="#">
      <div class="number">#<%= conversation.number %></div>
      <div class="participants">
        <% conversation.participants.each do |person| %>
          <%= avatar(person) %>
        <% end %>
      </div>
      <div class="preview">
        <%= preview conversation %>
      </div>
      <div class="updated">
        <%= distance_in_time_of_last_message conversation %>
      </div>
    </a>

    <div class="conversation-body">

      <!-- Previous conversation -->
      <div class="list message-list">
        <%= content_tag_for(:div, conversation.messages, class: ['message', 'list-item']) do |message| %>
          <div class="from"><%= avatar(message.person) %></div>
          <div class="from-address"><%= message.person.email %></div>
          <div class="created">
            posted <%= time_ago_in_words(message.created_at) %>
          </div>
          <div class="content"><%= message.content %></div>
        <% end %>
      </div>

      <!-- Reply -->
      <%= form_for(conversation.messages.new, html: {class: 'reply-form'}) do |f| %>
        <%= f.text_area :content, class: 'response' %>
        <%= f.hidden_field :conversation_id, value: conversation.id %>
        <div class="form-actions">
          <%= f.submit 'Send', value: "Send", class: 'send' %>
          <%= f.submit 'Send & Archive', value: "Send & Archive", class: 'send_archive' %>
        </div>
      <% end %>

    </div>

  <% end %>
</div>

<script>
  $(document).ready(function(){
    var messageIndex = 0;
    var totalCount = $('.conversation-heading').length;

    var updateHighlight = function(){
      $($('.conversation-heading')).removeClass('highlight');
      $($('.conversation-heading')[messageIndex]).addClass('highlight');
    }
    var openConversation = function(el){
      var $el = $(el);
      $conversation = $el.parents('.conversation');
      $conversation.find('.conversation-body').toggle();
      messageIndex = $conversation.index();
      updateHighlight();
    }

    //keyboard shortcuts for sending and/or archiving
    $('.response').keydown(function(e){
      if(e.ctrlKey){
        switch(e.keyCode){
          case 13: //enter
            if(e.shiftKey){
              $('.response').parents('form').find('.send').click();
            }else{
              $('.response').parents('form').find('.send_archive').click();
            }
          break;
        }
      }

    });

    //keyboard shortcuts for cycling through conversations
    $(document).keydown(function(e){
        if(e.ctrlKey){
          switch(e.keyCode){
            case 32: //space
              openConversation($('.conversation-heading')[messageIndex]);
            break;
            case 74: //j
              messageIndex = (messageIndex + 1) % totalCount;
            break;
            case 75: //k
              messageIndex = (messageIndex + totalCount - 1) % totalCount;
            break;
          }
          updateHighlight();

        }
    });

    $('.conversation-heading').click(function(e) {
      e.preventDefault();
      openConversation(e.target)
    });

  });

</script>
