<%= render 'shared/navbar' %>

<div class="container">
  <%= render "layouts/flash" %>
  <div class="page-header">
    <h1><%= t('.search_results_for') %> "<%= params[:q] %>"</h1>
  </div>
  <% if @conversations.any? %>
    <%= render 'conversations/inbox', conversations: @conversations %>
  <% else %>
    <h3><%= t('.no_results') %></h3>
  <% end %>
</div>