<%= render 'shared/navbar' %>

<%= render "layouts/flash" %>

<div class="container">
  <h1 class="page-title">
    <%= t('.search_results_for') %> "<%= params[:q] %>"
  </h1>

  <% if @conversations.any? %>
    <%= render 'conversations/inbox', conversations: @conversations %>
  <% else %>
    <h3><%= t('.no_results') %></h3>
  <% end %>
</div>
