<div class="container">

  <h1><%= t('.resend_unlock_instructions') %></h1>
  <hr />

  <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :email, t('general.email'), :class => "control-label" %><br />
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => t('general.email_placeholder') %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.submit t('.resend'), :class => "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>

  </fieldset>

  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="help-block">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

</div>
