<div class="column-wrapper">
  <div class="column column-navbar">
    <%= render 'shared/navbar' %>
  </div>

  <div class="column column-subnav">
    <h2 class="column-heading">Settings</h2>

    <h5 class="heading-bar column-heading">Personal Settings</h5>

    <ul class="column-navigation">
      <li>
        <a href="<%= edit_settings_personal_path %>" class="text-muted">
          Your Personal Information <br />
          <span class="text-weak text-smaller">Name, email, avatar</span>
        </a>
      </li>
    </ul>

    <h5 class="heading-bar column-heading">Account Settings</h5>

    <ul class="column-navigation">
      <li>
        <a href="<%= edit_settings_admin_path %>" class="text-muted">
          Admin <br />
          <span class="text-weak text-smaller">Company Settings etc.</span>
        </a>
      </li>
      <li>
        <a href="<%= edit_settings_payment_path %>" class="text-muted">
          Payment <br />
          <span class="text-weak text-smaller">Pay the bills babies</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="column column-detail">

    <header class="column-heading">
      <h2 class="text-black">Payment Information</h2>
      <p class="text-weak text-smaller">
        This is the information that makes you unique inside. Treasure your inner animal.
      </p>
    </header>

    <div class="column-content">
    <div class="pricing">
          <h2 class="text-black">Pricing plan</h2>
          <p class="text-weak text-smaller">This is the information that makes you unique inside. Treasure your inner animal.</p>

          <table class="pricing-table">
              <colgroup>
                <!-- there probably is a better way to add bg to current_plan column, or just add a CSS class -->
                <col>
                <col style="background-color:#f1f1f1">
              </colgroup>
              <tr>
                <!-- left this <tr> so CSS selectors work properly without rewriting original pricing table CSS -->
              </tr>
              <tr>
                <td>
                  Starter Kit
                  <div></div>
                </td>
                <td>
                  Growing
                  <div></div>
                </td>
                <td>
                  Premium
                  <div></div>
                </td>
                <td>
                  Super
                  <div></div>
                </td>
              </tr>
              <tr>
                <td>
                  <h1>25</h1>
                  <h2>threads per month</h2>
                  <h3>$0</h3>
                  <h4>per month</h4>
                  <a href="<%= new_account_path %>">Change</a>
                </td>
                <td>
                  <h1>50</h1>
                  <h2>threads per month</h2>
                  <h3>$29</h3>
                  <h4>per month</h4>
                  <a href="<%= new_account_path %>">Current plan</a>
                </td>
                <td>
                  <h1>150</h1>
                  <h2>threads per month</h2>
                  <h3>$59</h3>
                  <h4>per month</h4>
                  <a href="<%= new_account_path %>">Change</a>
                </td>
                <td>
                  <h1>300</h1>
                  <h2>threads per month</h2>
                  <h3>$199</h3>
                  <h4>per month</h4>
                  <a href="<%= new_account_path %>">Change</a>
                </td>
              </tr>
            </table>

      </div>

     

    </div>
  </div>
</div>
