<div class="demo">
  <div class="demo-text">
    <h4 class="demo-text-1"><%= t('.text_1') %></h4>
    <h4 class="demo-text-2"><%= t('.text_2') %></h4>
    <h4 class="demo-text-2"><%= t('.text_2_2') %></h4>
  </div>
  <a href="<%= new_accounts_path %>" class="demo-button"><%= t('pages.home.general.sign_up_free') %></a>
</div>
