<footer>
  <nav data-scroll-to-content="true">
    <ul>
      <li><%= link_to 'Helpful', root_path %></li>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Blog', '#' %></li>
      <li><%= link_to "Who's it for", '#reasons' %></li>
      <li><%= link_to 'Features', '#features' %></li>
      <li><%= link_to 'Pricing', '#pricing' %></li>
      <li><%= link_to 'Contact', '#' %></li>
      <li><%= link_to 'Twitter', '#' %></li>
      <li class="divider"></li>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
    </ul>
  </nav>

  <h2>Thank you for your time. We know it's precious.</h2>

  <a href="#" class="btn btn-default">Still have a question?</a>

  <p class="copyright"><%= t('.copyright').html_safe %></p>
</footer>
