<div class="header-wrapper">
  <div class="header">
    <div class="logo-wrapper">
      <div class="logo"></div>
      <div class="logo-text">
        <h3>Helpful</h3>
      </div>
    </div>

    <a href="<%= new_accounts_path %>" class="header-button button-sign-up"><%= t('.sign_up') %></a>
    <a href="<%= new_user_session_path %>" class="header-button button-log-in"><%= t('.login') %></a>
    <a href="https://assemblymade.com/helpful" class="header-link"><%= t('.build') %></a>
    <a href="#" class="header-link"><%= t('.docs') %></a>
  </div>
</div>
