<table class="pricing-table">
  <tr>
    <td></td>
    <td><%= t('.great_value') %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <%= t('.starter_kit') %>
      <div></div>
    </td>
    <td>
      <%= t('.growing') %>
      <div></div>
    </td>
    <td>
      <%= t('.premium') %>
      <div></div>
    </td>
    <td>
      <%= t('.super') %>
      <div></div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>25</h1>
      <h2><%= t('.threads') %> <%= t('.per_month') %></h2>
      <h3>$0</h3>
      <h4><%= t('.per_month') %></h4>
      <a href="<%= new_accounts_path %>"><%= t('pages.home.general.sign_up_free') %></a>
    </td>
    <td>
      <h1>50</h1>
      <h2><%= t('.threads') %> <%= t('.per_month') %></h2>
      <h3>$29</h3>
      <h4><%= t('.per_month') %></h4>
      <a href="<%= new_accounts_path %>"><%= t('.sign_up') %></a>
    </td>
    <td>
      <h1>150</h1>
      <h2><%= t('.threads') %> <%= t('.per_month') %></h2>
      <h3>$59</h3>
      <h4><%= t('.per_month') %></h4>
      <a href="<%= new_accounts_path %>"><%= t('.sign_up') %></a>
    </td>
    <td>
      <h1>300</h1>
      <h2><%= t('.threads') %> <%= t('.per_month') %></h2>
      <h3>$199</h3>
      <h4><%= t('.per_month') %></h4>
      <a href="<%= new_accounts_path %>"><%= t('.sign_up') %></a>
    </td>
  </tr>
</table>
