<%= render 'shared/navbar' %>

<%= render 'layouts/flash' %>

<div class="container">
  <% if current_user.invalid? %>
    <%= render '/shared/error_messages', target: current_user %>
  <% end %>

  <div class="page-header">
    <h1><%= t('.user_settings') %></h1>
  </div>

  <%= form_for current_user, html: {class: 'form', multipart: true} do |f| %>

    <div class="form-group">
      <%= f.label :name, t('accounts.general.your_name'), class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= fields_for current_user.person do |ff| %>
      <div class="form-group">
        <%= ff.label :username, t('accounts.general.username'), class: 'control-label' %>
        <%= ff.text_field :username, placeholder: t('accounts.general.username_placeholder'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= ff.label :avatar, t('general.avatar'), class: 'control-label' %>
        <%= avatar(current_user, 30) %>
        <%= ff.file_field :avatar %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email, t('general.email'), class: 'control-label' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.submit t('.update_personal_settings'), class: %W(btn btn-primary), rel: 'submit' %>
    </div>

  <% end %>
</div>
