<% activate_nav!(:personal) %>
<%= render 'shared/navbar' %>
<%= render 'layouts/flash' %>

<div class="container">
  <h1 class="page-title">
    <%= t('.user_settings') %>
  </h1>

  <% if current_user.invalid? %>
    <%= render '/shared/error_messages', target: current_user %>
  <% end %>

  <%= form_for current_user, html: {class: 'form', multipart: true} do |f| %>

    <div class="form-group">
      <%= f.label :name, t('accounts.general.your_name'), class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, t('general.email'), class: 'control-label' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <%= fields_for current_user.person do |ff| %>
      <div class="form-group">
        <%= ff.label :avatar, t('general.avatar'), class: 'control-label' %>
        <div>
          <span class="padding-right">
            <%= avatar(current_user, 30) %>
          </span>

          <%= ff.file_field :avatar, style: 'display: inline-block' %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit t('.update_personal_settings'), class: %W(btn btn-primary), rel: 'submit' %>
    </div>

  <% end %>
</div>
