<%= render 'shared/navbar' %>

<%= render 'layouts/flash' %>

<div class="container">
  <h1 class="page-title">
    <%= t('.user_settings') %>
  </h1>

  <% if current_user.invalid? %>
    <%= render '/shared/error_messages', target: current_user %>
  <% end %>

  <%= form_for current_user, html: {class: 'form', multipart: true} do |f| %>

    <fieldset>
      <h2>Change your account</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quae, labore, aliquid, ea at quam nemo minus dolor tempore facere repellat illum quidem ab adipisci recusandae officia nihil! Ex, culpa.</p>

      <div class="form-group  has-feedback has-success">
        <%= f.label :name, t('accounts.general.your_name'), class: 'control-label' %>
        <%= f.text_field :name, class: 'form-control' %>
        <span class="form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback has-success">
        <%= f.label :email, t('general.email'), class: 'control-label' %>
        <%= f.text_field :email, class: 'form-control' %>
        <span class="form-control-feedback"></span>
      </div>
    </fieldset>

    <%= fields_for current_user.person do |ff| %>

      <fieldset>
        <h2>Change your account profile picture</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, placeat, repudiandae hic velit eveniet magnam labore nam officia adipisci alias exercitationem eaque! Vel earum voluptatibus accusantium enim a consequuntur dolorum?</p>

        <div class="form-group avatar-preview">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="panel panel-subtle">
                    <%= avatar(current_user, 167, :preview) %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="panel panel-subtle panel-center">
                    <div class="btn btn-default btn-file">
                      Choose a new Profile Pic
                      <%= ff.file_field :avatar %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

    <% end %>

    <fieldset>
      <div class="form-actions">
        <%= f.submit t('.update_personal_settings'), class: %W(btn btn-primary), rel: 'submit' %>
    </div>
    </fieldset>

  <% end %>
</div>
