<div class="container">
  <h1 class="page-title"><%= t('.change_password') %></h1>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: 'form' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :password, "New password", class: 'control-label' %><br />
          <%= f.password_field :password, autofocus: true, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password", class: 'control-label' %><br />
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.submit "Change my password", class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
