<header class="app-header">
  <div class="app-header_logo">
    <a href="#" class="logo logo--wordmark">Helpful</a>
  </div>

  <div class="app-header_search">
    <%= form_tag(conversations_path(current_account), :method => "get") do %>
      <%= text_field_tag :q, @query, :placeholder => 'Search through conversations', :class => "input--no-label" %>
      <%= submit_tag "Search", class: "hide" %>
    <% end %>
  </div>

  <div class="app-header_user-info">
    <% if user_signed_in? %>
      <span><%= link_to('Log out?', destroy_user_session_path, method: :delete) %></span>
    <% else %>
      <span><%= link_to('Log in', new_user_session_path)  %></span>
    <% end %>
  </div>
</header>

<div class="app-container">
  <%= render '/layouts/flash' %>