<div class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-left">
      <ul class="nav navbar-nav">

        <% other_accounts = current_user.accounts.reject {|a| a == @account } %>
        <% if other_accounts.any? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @account.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% other_accounts.each do |account| %>
                <li>
                  <a href="<%= inbox_account_conversations_path(account) %>">
                    <%= account.name %>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li>
            <a href="<%= edit_account_path(@account) %>">
              <%= @account.name %>
            </a>
          </li>
        <% end %>

        <li>
          <a href="<%= inbox_account_conversations_path(@account) %>">
            Inbox
          </a>
        </li>

        <li>
          <a href="<%= archived_account_conversations_path(@account) %>">
            Archive
          </a>
        </li>
      </ul>

    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="mailto:helpful@helpful.io">Help</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= edit_user_path %>">Settings</a>
            </li>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-text' %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
