<div class="navbar navbar-default navbar-static-top">

  <% if current_user %>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown avatar">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <%= avatar(current_user, 30, 'navbar-avatar') %>
          <span class="username"><%= current_user.name %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="<%= edit_user_path %>"><%= t('.profile') %></a>
          </li>
          <li>
            <a href="mailto:helpful@helpful.io"><%= t('.help') %></a>
          </li>
          <li>
            <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-text' %>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li class="navbar-brand-icon">
        <%= link_to inbox_account_conversations_path(@account) do %>
          <%= image_tag 'life_saver.png', alt: 'Helpful' %>
        <% end %>
      </li>

      <% other_accounts = current_user.accounts - [@account] %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= @account.name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="<%= edit_account_path(@account) %>"><%= t('.company_profile') %></a>
          </li>

          <li>
            <%= link_to t('canned_responses.index.canned_responses'), account_canned_responses_path(@account) %>
          </li>

          <% if other_accounts.any? %>
            <li class="divider"></li>

            <% other_accounts.each do |account| %>
              <li>
                <%= link_to account.name, inbox_account_conversations_path(account) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    </ul>

    <div class="container">
      <ul class="nav navbar-nav nav-separated">
        <li class="<%= current_page?(inbox_account_conversations_path(@account)) && !@assignment_user ? 'active' : '' %>">
          <%= link_to t('.inbox'), inbox_account_conversations_path(@account) %>
        </li>
        <li class="dropdown avatar <%= current_page?(inbox_account_conversations_path(@account)) && @assignment_user ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span style="margin-right: 5px;">
              Assigned to
            </span>
            <% if @assignment_user %>
              <%= avatar(@assignment_user, 30, 'navbar-avatar') %>
            <% end %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to inbox_account_conversations_path(@account, user_id: current_user.id) do %>
                <%= avatar(current_user, 30, 'navbar-avatar') %>
                <span class="username"><%= current_user.name %></span>
              <% end %>
            </li>

            <li class="divider"></li>

            <% (@account.user_people.order('name ASC') - [current_user.person]).each do |person| %>
              <li>
                <%= link_to inbox_account_conversations_path(@account, user_id: person.user_id) do %>
                  <%= avatar(person, 30, 'navbar-avatar') %>
                  <span class="username"><%= person.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
          </a>
        </li>
        <li class="<%= current_page?(archived_account_conversations_path(@account)) ? 'active' : '' %>">
          <%= link_to t('.archive'), archived_account_conversations_path(@account) %>
        </li>
      </ul>
      <div class="search-bar">
        <%= form_tag search_account_conversations_path(@account), method: 'get' do %>
          <%= search_field_tag :q, @query, autocomplete: 'off', placeholder: t('.search'), id: 'search-query', 'data-search-path' => search_account_conversations_path(@account) %>
          <span class="search-bar-icon glyphicon glyphicon-search"></span>
          <span class="search-bar-icon search-bar-clear-icon glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
      <div class="search-results-container">
      </div>
    </div>

  <% else %>

    <ul class="nav navbar-nav navbar-left">
      <li class="navbar-brand-icon">
         <%= link_to root_path do %>
          <%= image_tag 'life_saver.png', alt: 'Helpful' %>
        <% end %>
      </li>
    </ul>

    <div class="container">
      <ul class="nav navbar-nav navbar-right">

        <% if current_page?(new_user_session_path) %>
          <li>
            <%= link_to t('general.sign_up'), new_accounts_path %>
          </li>
        <% end %>
        <% if current_page?(new_accounts_path) %>
          <li>
            <%= link_to t('.sign_in'), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>

</div>

<script id="search-results-template" type="text/x-handlebars-template">
  <div class="popover bottom">
    <div class="arrow"></div>

    <div class="popover-content">
      <ul class="search-results">
        {{#each conversations}}
          <li class="search-result">
            <a href="{{url}}">
              {{subject}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</script>
