<div class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="<%= root_path %>" class="navbar-brand">
        <%= image_tag 'logo.png', alt: 'Helpful', width: 30, height: 30 %>
      </a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown <%= nav_active_class(:account) %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= @account.name %>
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
          <% if current_user.accounts.size > 1 %>
            <% current_user.accounts.each do |account| %>
              <li class="<%= 'active' if @account == account %>">

                <a href="<%= inbox_account_conversations_path(account) %>" class="clearfix" style="white-space:nowrap">
                  <%= account.name %>
                  <% unless account.inbox_count.zero? %>
                    <span class="badge"><%= account.inbox_count %></span>
                  <% end %>
                </a>
              </li>
            <% end %>

            <li class="divider"></li>
          <% end %>

          <li><a href="<%= docs_path %>">Documentation</a></li>
          <li><a href="" data-helpful="helpful" data-helpful-modal="on" data-helpful-name="<%= current_user.name %>" data-helpful-email="<%= current_user.email %>">Help</a></li>

        </ul>
      </li>

      <li class="<%= nav_active_class(:inbox) %>">
        <%= link_to inbox_account_conversations_path(@account), class: "#{'active' if current_page?(inbox_account_conversations_path(@account)) }" do %>
          <span class="geomicon geomicon-inbox"></span>
          <span class="">Inbox</span>
          <% unless @account.inbox_count.zero? %>
            <span class="badge"><%= @account.inbox_count %></span>
          <% end %>
        <% end %>
      </li>

      <li class="<%= nav_active_class(:archive) %>">
        <%= link_to archived_account_conversations_path(@account), class: "#{'active' if current_page?(archived_account_conversations_path(@account)) }" do %>
          <span class="geomicon geomicon-storagebox"></span>
          <span class="">Archive</span>
        <% end %>
      </li>

      <li class="<%= nav_active_class(:account_settings) %>">
        <a href="<%= edit_account_path(@account) %>" rel="account.edit">
          <span class="glyphicon glyphicon-cog"></span>
          <span>Settings</span>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <%= form_tag search_account_conversations_path(@account), method: 'get', class: 'navbar-form navbar-right', role: 'search' do %>
          <div class="form-group">
            <div class="input-group input-group-invisible navbar-input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
              <%= search_field_tag :q, @query, autocomplete: 'off', placeholder: t('.search'), class: 'form-control form-control-invisible' %>
            </div>
          </div>
          <button type="submit" class="btn btn-default sr-only">Search</button>
          <button type="button" class="btn btn-default dropdown-toggle sr-only" data-toggle="dropdown" tabindex="-1">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        <% end %>

        <ul class="dropdown-menu dropdown-menu-left" role="menu">
          <% if @account.tags.present? %>
            <li class="dropdown-header" role="presentation">Search by Tag</li>
            <% @account.tags.each do |tag_name| %>
              <li>
                <%= link_to tag_name, search_account_conversations_path(@account, tag: tag_name) %>
              </li>
            <% end %>

            <li class="divider" role="presentation"></li>
          <% end %>

          <li class="dropdown-header" role="presentation">Search by Assignee</li>
          <% @account.users.joins(:person).order('people.name ASC').each do |user| %>
            <li>
              <%= link_to search_account_conversations_path(@account, assignee: user.id) do %>
                <%= avatar(user, 20) %>
                <span class="username">
                  <%= user.name %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <%= avatar(current_user, 19) %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="<%= nav_active_class(:personal) %>">
            <a href="<%= edit_user_path %>"><%= t('.settings') %></a>
          </li>
          <li>
            <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-text' %>
          </li>
        </ul>
      </li>
    </ul>


  </div><!-- .container -->
</div><!-- .navbar -->


<div class="search-results-container" style="display: none">
  <div class="popover bottom">
    <div class="arrow"></div>

    <div class="popover-content">
      <div class="search-header">
        Search by Tag
      </div>
      <div class="search-result-populated">
        <% @account.conversations.pluck(:tags).flatten.uniq.sort.each do |tag_name| %>
          <%= link_to "##{tag_name}", search_account_conversations_path(@account, tag: tag_name), class: 'tag' %>
        <% end %>
      </div>
      <div class="search-header">
        Search by Assignee
      </div>
      <ul class="search-results">
        <% @account.users.joins(:person).order('people.name ASC').each do |user| %>
          <li class="search-result">
            <%= link_to search_account_conversations_path(@account, assignee: user.id) do %>
              <%= avatar(user, 20) %>
              <span class="username">
                <%= user.name %>
              </span>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
