<div class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= edit_account_path(@account) %>">
            <%= @account.name %>
          </a>
        </li>
        <li>
          <a href="<%= inbox_account_conversations_path(@account) %>">
            Inbox
          </a>
        </li>

        <li>
          <a href="<%= archived_account_conversations_path(@account) %>">
            Archive
          </a>
        </li>
      </ul>

    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= edit_user_path %>">Settings</a>
        </li>
        <li>
          <a href="mailto:helpful@helpful.io">Help</a>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-text' %>
        </li>
      </ul>
    </div>
  </div>
</div>
