<div class="navbar navbar-default navbar-static-top">

  <% if current_user %>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown avatar">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <%= avatar(current_user, 30, 'navbar-avatar') %>
          <span class="username"><%= current_user.name %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="<%= edit_user_path %>"><%= t('.profile') %></a>
          </li>
          <li>
            <a href="#" data-helpful="helpful" data-helpful-modal="on" data-helpful-name="<%= current_user.name %>" data-helpful-email="<%= current_user.email %>"><%= t('.help') %></a>
          </li>
          <li>
            <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-text' %>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li class="navbar-brand-icon">
        <%= link_to inbox_account_conversations_path(@account) do %>
          <%= image_tag 'life_saver.png', alt: 'Helpful' %>
        <% end %>
      </li>

      <% other_accounts = current_user.accounts - [@account] %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= @account.name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="<%= edit_account_path(@account) %>"><%= t('.company_profile') %></a>
          </li>
          
          <li>
            <a href="<%= setup_account_path(@account) %>"><%= t('.technical_setup') %></a>
          </li>

          <li>
            <%= link_to t('canned_responses.index.canned_responses'), account_canned_responses_path(@account) %>
          </li>

          <% other_accounts.each do |account| %>
            <li class="divider"></li>
            <li>
              <%= link_to account.name, inbox_account_conversations_path(account), class: 'navbar-company-link' %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>

    <div class="container">
      <ul class="nav navbar-nav nav-separated">
        <li class="<%= current_page?(inbox_account_conversations_path(@account)) ? 'active' : '' %>">
          <%= link_to t('.inbox'), inbox_account_conversations_path(@account) %>
        </li>

        <li class="<%= current_page?(archived_account_conversations_path(@account)) ? 'active' : '' %>">
          <%= link_to t('.archive'), archived_account_conversations_path(@account) %>
        </li>
      </ul>

      <div class="search-bar">
        <%= form_tag search_account_conversations_path(@account), method: 'get' do %>
          <%= search_field_tag :q, @query, autocomplete: 'off', placeholder: t('.search'), id: 'search-query', 'data-search-path' => search_account_conversations_path(@account) %>
          <span class="search-bar-icon glyphicon glyphicon-search"></span>
          <span class="search-bar-icon search-bar-clear-icon glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
      <div class="search-results-container" style="display: none">
        <div class="popover bottom">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="search-header">
              Search by Tag
            </div>
            <div class="search-result-populated">
              <% @account.conversations.pluck(:tags).flatten.uniq.sort.each do |tag_name| %>
                <%= link_to "##{tag_name}", search_account_conversations_path(@account, tag: tag_name), class: 'tag' %>
              <% end %>
            </div>
            <div class="search-header">
              Search by Assignee
            </div>
            <ul class="search-results">
              <% @account.users.includes(:person).order('people.name ASC').each do |user| %>
                <li class="search-result">
                  <%= link_to search_account_conversations_path(@account, assignee: user.id) do %>
                    <%= avatar(user, 30, 'navbar-avatar') %>
                    <span class="username">
                      <%= user.name %>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <ul class="nav navbar-nav navbar-left">
      <li class="navbar-brand-icon">
         <%= link_to root_path do %>
          <%= image_tag 'life_saver.png', alt: 'Helpful' %>
        <% end %>
      </li>
    </ul>

    <div class="container">
      <ul class="nav navbar-nav navbar-right">

        <% if current_page?(new_user_session_path) %>
          <li>
            <%= link_to t('general.sign_up'), new_accounts_path %>
          </li>
        <% end %>
        <% if current_page?(new_accounts_path) %>
          <li>
            <%= link_to t('.sign_in'), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>

</div>

<script id="search-results-template" type="text/x-handlebars-template">
  <div class="popover bottom">
    <div class="arrow"></div>

    <div class="popover-content">
      <ul class="search-results">
        {{#each conversations}}
          <li class="search-result">
            <a href="{{url}}">
              {{subject}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</script>
