<div class="navbar navbar-default">

  <div class="container">

    <ul class="nav navbar-nav nav-steps">

      <li>
        <div class="<%= 'active' if current_page?(new_accounts_path) %> <%= 'completed' if @account.persisted? && (current_page?(account_invitations_path(@account)) || current_page?(configuration_account_path(@account))) %>">
          <span class="glyphicon glyphicon-ok"></span>
          <!-- TODO: locale is missing -->
          Sign Up
        </div>
      </li>

      <li>
        <div class="<%= 'active' if @account.persisted? && current_page?(account_invitations_path(@account)) %> <%= 'completed' if @account.persisted? && current_page?(configuration_account_path(@account)) %>">
          <span class="glyphicon glyphicon-ok"></span>
          <!-- TODO: locale is missing -->
          Invite Your Team
        </div>
      </li>

      <li>
        <div class="<%= 'active' if @account.persisted? && current_page?(configuration_account_path(@account)) %>">
          <span class="glyphicon glyphicon-ok"></span>
          <!-- TODO: locale is missing -->
          Start Using Helpful
        </div>
      </li>

      <li class="strech">
      </li>

    </ul>

  </div>

</div>
