<% if @account.persisted? %>

  <div class="navbar navbar-default">

    <div class="container">

      <ul class="nav navbar-nav nav-steps">

        <li>
          <%= link_to edit_account_path(@account), class: "#{'active' if current_page?(edit_account_path(@account))}" do %>
            <span class="glyphicon glyphicon-ok"></span>
            <!-- TODO: locale is missing -->
            Sign Up
          <% end %>
        </li>

        <li>
          <%= link_to account_invitations_path(@account), class: "#{'active' if current_page?(account_invitations_path(@account))}" do %>
            <span class="glyphicon glyphicon-ok"></span>
            <!-- TODO: locale is missing -->
            Add Helpful to Your Site
          <% end %>
        </li>

        <li>
          <%= link_to configuration_account_path(@account), class: "#{'active' if current_page?(configuration_account_path(@account))}" do %>
            <span class="glyphicon glyphicon-ok"></span>
            <!-- TODO: locale is missing -->
            Be Helpful
          <% end %>
        </li>

        <li class="strech">
        </li>

      </ul>

    </div>

  </div>

<% else %>

  <div class="navbar navbar-default">

    <ul class="nav navbar-nav navbar-left">
      <li class="navbar-brand-icon">
         <%= link_to root_path do %>
          <%= image_tag 'life_saver.png', alt: 'Helpful' %>
        <% end %>
      </li>
    </ul>

    <div class="container">

      <ul class="nav navbar-nav nav-steps">

        <li>
          <%= link_to new_accounts_path, class: 'active' do %>
            <span class="glyphicon glyphicon-ok"></span>
            Sign Up
          <% end %>
        </li>

        <li>
          <%= link_to new_accounts_path do %>
            <span class="glyphicon glyphicon-ok"></span>
            Add Helpful to Your Site
          <% end %>
        </li>

        <li>
          <%= link_to new_accounts_path do %>
            <span class="glyphicon glyphicon-ok"></span>
            Be Helpful
          <% end %>
        </li>

        <li class="strech">
        </li>

      </ul>

    </div>

  </div>

<% end %>
