<% content_for :meta do -%>
  <title>Helpful is a simple support tool you won't need help using.</title>
  <meta property="og:site_name" content="Helpful" />
  <meta property="og:title" content="Helpful — Help that doesn't hurt">
  <meta property="og:url" content="http://helpful.io/">
  <meta property="og:image" content="<%= image_url('logo-64.png') %>"/>
  <meta property="og:description" content="Helpful is a simple support tool you won't need help using.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Helpful">
  <meta name="twitter:description" content="Helpful is a simple support tool you won't need help using.">
  <meta name="twitter:image:src" content="<%= image_url('logo.png') %>">
  <meta name="twitter:domain" content="helpful.io">
<% end -%>
<div class="l-home">

    <%= render 'pages/home/header' %>

    <%= render 'pages/home/hero' %>

    <div class="conversation">
    </div>

    <%= render 'pages/home/demo' %>

    <div class="demo-image">
        <div class="screenshot"></div>
    </div>

    <div class="line"></div>

    <div class="pricing">
        <div class="pricing-text">
          <h4 class="pricing-text-1"><%= t('.pricing_text_1') %></h4>
          <h4 class="pricing-text-2"><%= t('.pricing_text_2') %></h4>
        </div>

        <%= render 'pages/home/pricing_table' %>

        <div class="pricing-text-end">
          <h1><%= t('.pricing_text_end') %></h1>
        </div>
    </div>

    <div class="line"></div>

    <div class="contact-us">
        <h4>Helpful <%= t('.in_house') %></h4>
        <h4><%= t('.in_house_text') %></h4>
        <a href="mailto:helpful@helpful.io"><%= t('.contact_us') %></a>

    </div>

    <div class="line"></div>

  <div class="footer">
    <div class="assembly-logo">
      <%= image_tag "assembly_logo.png" %>
    </div>
    <h4>Assembly Made</h4>
  </div>
</div>
