<% content_for :meta do -%>
  <title>Helpful is a simple support tool you won't need help using.</title>
  <meta property="og:site_name" content="Helpful" />
  <meta property="og:title" content="Helpful — Help that doesn't hurt">
  <meta property="og:url" content="http://helpful.io/">
  <meta property="og:image" content="<%= image_url('logo-64.png') %>"/>
  <meta property="og:description" content="Helpful is a simple support tool you won't need help using.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Helpful">
  <meta name="twitter:description" content="Helpful is a simple support tool you won't need help using.">
  <meta name="twitter:image:src" content="<%= image_url('logo.png') %>">
  <meta name="twitter:domain" content="helpful.io">
<% end -%>

<div class="backdrop">
  <div class="page page-full page-center text-center">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= image_tag('logo.png') %>
            <h1>We redesigned support to get out of the way, so you focus on being a helpful human.</h1>
            <p>Helping your customers with good answers and thoughtful direction should be a breeze, focused 100% on support - and nothing else.</p>
            <p>C'mon, let's see it in action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page page-partial page-showcase">
    <div class="screenshot-list">
      <div class="screenshot">
        <%= image_tag('home/widget_light.png') %>
        <p>Give your customers a simple way to send you a message.</p>
      </div>
      <div class="screenshot">
        <%= image_tag('home/app_light.png') %>
        <p>Manage interactions with customers from a familiar inbox.</p>
      </div>
      <div class="screenshot">
        <%= image_tag('home/email_light.png') %>
        <p>Respond directly with an plain text email.</p>
      </div>
    </div>
  </div>
</div>

<div class="navbar-placeholder">
  <div class="navbar navbar-default navbar-static-top navbar-homepage" data-scroll-to-content="true">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">
          Helpful
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li><a href="#customer">Who's it for?</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>

      <ul class="list-inline pull-right">
        <li>
          <a href="#" class="btn btn-default">
            Try the Demo
          </a>
        </li>
        <li>
          <%= link_to 'Sign up for free', new_accounts_path, class: 'btn btn-primary' %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="customer" class="page page-full page-center">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Designed with startups in mind</h1>
          <p>We specifically trimed features that added process and ceremony, so you can focus on having a conversation with your customers.</p>
        </div>
        <div class="col-md-6" style="margin-top: 20px">
          <ul class="list-group list-group-icons">
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              No more than 100 support reqeusts per day
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              Fewer than 20 people on your support team
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              Favor simple human interaction over process
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              Focused on having fewer support requests
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="features" class="page page-partial">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="margin-top: -50px">
          <div class="thumbnail">
            <%= image_tag 'formatting-example.png' %>
          </div>
          <div class="thumbnail">
          <%= image_tag 'assignment-example.png' %>
          </div>
          <div class="thumbnail">
          <%= image_tag 'tag-example.png' %>
          </div>
        </div>
        <div class="col-md-6">
          <h1>Features you need, nothing more</h1>
          <p>We don't think more features makes a better product. Instead we focused on making those everyday features feel natural and get out of your way.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pricing" class="page page-partial">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
          <h1>Plans tied to support requests, not staff members</h1>
          <p>Never worry about adding another member. Our plans scale with the number of support conversations you have each month. It places the incentives in the right place; focusing on lowering your number support requests.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group list-group-horizontal plan-list" style="margin-top: 50px">
            <% @plans.each do |plan| %>
              <div class="list-group-item plan">
                <h3>
                  <%= plan.name %>
                </h3>
                <p class="plan-info">
                  <%= plan.max_conversations %> conversations
                </p>
                <p class="plan-price">
                  <% if plan.price.zero? %>
                    Totally Free!
                  <% else %>
                    <%= number_to_currency(plan.price, precision: 0) %> per month
                  <% end %>
                </p>
                <% if plan.free? %>
                  <%= link_to new_accounts_path, class: 'btn btn-success' do %>
                    <span class="plan-select-message">Sign up</span>
                  <% end %>
                <% else %>
                  <%= link_to new_accounts_path, class: 'btn btn-secondary' do %>
                    <span class="plan-select-message">Sign up</span>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
