<% content_for :meta do -%>
  <title>Helpful is a simple support tool you won't need help using.</title>
  <meta property="og:site_name" content="Helpful" />
  <meta property="og:title" content="Helpful — Help that doesn't hurt">
  <meta property="og:url" content="http://helpful.io/">
  <meta property="og:image" content="<%= image_url('logo-64.png') %>"/>
  <meta property="og:description" content="Helpful is a simple support tool you won't need help using.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Helpful">
  <meta name="twitter:description" content="Helpful is a simple support tool you won't need help using.">
  <meta name="twitter:image:src" content="<%= image_url('logo.png') %>">
  <meta name="twitter:domain" content="helpful.io">
<% end -%>

<div class="backdrop">

  <%= link_to 'Sign in', new_user_session_path, class: 'btn signin_absolute btn-default' %>

  <div class="page page-full page-center text-center">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay=".4s">
            <%= image_tag('logo.png', data: {animate_logo: "" }) %>
            <h1 data-animate-heading>A simple support inbox you can use with your entire team.</h1>
            <p data-animate-lead>Best of all, it's 100% free.</p>
            <%= link_to 'Sign up and see how simple it is', new_accounts_path, rel: 'signup', class: 'btn btn-default btn-lg', style: 'margin-top: 20px' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop" style="position: relative; z-index: -3">
  <div id="page-showcase" class="backdrop-shadow" style="position: relative">
    <div class="container" style="position: relative; z-index: -2">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.0s">
            <%= image_tag('home/app.png', class: 'img-responsive', style: 'margin-left: auto; margin-right: auto; margin-bottom: -10%') %>
          </div>
        </div>
      </div>
    </div>

    <div class="container hidden-xs" style="position: absolute; bottom: 0; left: 0; right: 0; z-index: -1">
      <div class="row">
        <div class="col-xs-6">
          <div class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.5s">
            <%= image_tag('home/widget.png', class: 'img-responsive', style: 'margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: -50%') %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.5s">
            <%= image_tag('home/email.png', class: 'img-responsive', style: 'margin-left: auto; margin-right: auto; margin-bottom: -50%') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 120px; padding-bottom: 120px">

  <h3 class="text-uppercase text-center" style="padding-bottom: 40px">Built with your customers (and your wallet) in mind</h3>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          100% free, no "seat" limitations
        </h4>
        <p class="text-muted">Invite your entire team and send unlimited messages entirely free, forever. Never pay "per seat" ever again.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          Feels personal to your customers
        </h4>
        <p class="text-muted">Your customers will receive emails directly from your team. The result is a more personal encounter and dialogue that will make your customers feel engaged and supported.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          Fast, simple, and purpose-driven features
        </h4>
        <p class="text-muted">Helpful is built for speed: Read messages, assign co-workers to help, organize, and respond in seconds without ever leaving the inbox.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          Choose your communication method
        </h4>
        <p class="text-muted">Embed a help box right on your own website allowing quick and direct feedback from any page. Need something more robust? Use our API to develop your own custom implementation.</p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom: 120px">
  <h3 class="text-uppercase text-center" style="padding-bottom: 40px">Built by the community on <a href="https://assembly.com/helpful?utm_campaign=assemblage&amp;utm_source=helpful&amp;utm_medium=flair_widget&amp;utm_content=flag"><img src="https://treasure.assembly.com/assets/flag-36b9a010cd4cc717cc842a5add1a5f65.svg" height="24px" width="60px" style="margin:-4px -2px 0 0;"> Assembly</a></h3>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <p>All product decisions, design mockups, bug reports, new features
        ideas, and customer feedback are publically available on Assembly. You
        can chat with the core team or even contribute work of your own and
        receive part of Helpful's future profits.</p>
        <%= link_to 'Start contributing on Assembly', 'https://assembly.com/helpful' %>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/home/footer' %>

<% if Rails.env.development? %>
  <%= javascript_include_tag 'widget' %>
<% else %>
  <script async src="//assets.helpful.io/assets/widget.js"></script>
<% end %>
