<% content_for :meta do -%>
  <title>Helpful is a simple support tool you won't need help using.</title>
  <meta property="og:site_name" content="Helpful" />
  <meta property="og:title" content="Helpful — Help that doesn't hurt">
  <meta property="og:url" content="http://helpful.io/">
  <meta property="og:image" content="<%= image_url('logo-64.png') %>"/>
  <meta property="og:description" content="Helpful is a simple support tool you won't need help using.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Helpful">
  <meta name="twitter:description" content="Helpful is a simple support tool you won't need help using.">
  <meta name="twitter:image:src" content="<%= image_url('logo.png') %>">
  <meta name="twitter:domain" content="helpful.io">
<% end -%>

<div class="backdrop">
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default pull-right', style: 'right: 20px; top: 20px; position: absolute; z-index: 2' %>

  <div class="page page-full page-center text-center">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= image_tag('logo.png', data: {animate_logo: "" }) %>
            <h1 data-animate-heading>We redesigned support to get out of the way, so you focus on being a helpful human.</h1>
            <p data-animate-lead>Helping your customers with good answers and thoughtful direction should be a breeze, focused 100% on support - and nothing else.</p>
            <a href="#page-showcase" id="btn" class="btn btn-default" data-scroll-to-content="true">Let us show how simple it is</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="page-showcase" class="page page-partial page-showcase">
    <div class="screenshot-list">
      <div class="screenshot">
        <p>Give your customers a simple way to send you a message.</p>
        <%= image_tag('home/widget_light.png') %>
      </div>
      <div class="screenshot">
        <p>Manage interactions with customers from a familiar inbox.</p>
        <%= image_tag('home/app_light.png') %>
      </div>
      <div class="screenshot">
        <p>Respond directly with an plain text email.</p>
        <%= image_tag('home/email_light.png') %>
      </div>
    </div>
  </div>
</div>

<div class="navbar-placeholder">
  <div class="navbar navbar-default navbar-static-top navbar-homepage" data-scroll-to-content="true">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <%= image_tag 'life_saver.png', alt: 'Helpful' %>
          Helpful
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#customer">Who's it for?</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
        </ul>
        <ul class="list-inline navbar-right">
          <li>
            <%= link_to 'Sign up for free', new_accounts_path, class: 'btn btn-primary', rel: 'signup' %>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="page page-full page-center">
  <div>
    <div class="container">
      <div class="row" id="customer">
        <div class="col-md-6">
          <h1>Designed with startups in mind</h1>
          <p>We specifically trimed features that added process and ceremony, so you can focus on having a conversation with your customers.</p>
        </div>
        <div class="col-md-6" style="margin-top: 20px">
          <ul class="list-group list-group-icons">
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              No more than 100 support requests per day
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              Fewer than 20 people on your support team
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              Favor simple human interaction over process
            </li>
            <li class="list-group-item">
              <span class="glyphicon glyphicon-ok text-success"></span>
              Focused on having fewer support requests
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page page-partial">
  <div>
    <div class="container">
      <div class="row" id="features">
        <div class="col-md-6" style="margin-top: -50px">
          <div class="thumbnail">
            <%= image_tag 'formatting-example.png' %>
          </div>
          <div class="thumbnail">
          <%= image_tag 'assignment-example.png' %>
          </div>
          <div class="thumbnail">
          <%= image_tag 'tag-example.png' %>
          </div>
        </div>
        <div class="col-md-6">
          <h1>Features you need, nothing more</h1>
          <p>We don't think more features makes a better product. Instead we focused on making those everyday features feel natural and get out of your way.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page page-partial">
  <div>
    <div class="container text-center" id="pricing">
      <h1>A price that grows with your product.</h1>
      <p>The number of people you want supporting customers should never be constrained by your support tool. With helpful, you'll never pay per seat, you pay per conversations.
    </div>
    <div class="container">
      <div class="pricing-showcase">
        <% @plans.each do |plan| %>
          <div class="pricing-showcase-item">

            <div class="pricing-showcase-item-conversations">
              1 - <%= plan.max_conversations %>
            </div>

            <div class="pricing-showcase-item-price">
              <% if plan.price.zero? %>
                <span class="pricing-showcase-item-free">
                  FREE
                </span>
              <% else %>
                <%= number_to_currency(plan.price, precision: 0) %>
                <span class="pricing-showcase-item-price-frequency">
                  /mo
                </span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="clearfix"><div>
      </div>
    </div>
  </div>
</div>
