<div class="l-home">

    <%= render 'pages/home/header' %>

    <%= render 'pages/home/hero' %>

    <div class="conversation">
    </div>

    <%= render 'pages/home/demo' %>

    <div class="demo-image">
        <div class="screenshot"></div>
    </div>

    <div class="line"></div>

    <div class="pricing">
        <div class="pricing-text">
          <h4 class="pricing-text-1"><%=t '.pricing_text_1' %></h4>
          <h4 class="pricing-text-2"><%=t '.pricing_text_2' %></h4>
        </div>

        <%= render 'pages/home/pricing_table' %>

        <div class="pricing-text-end">
          <h1><%=t '.pricing_text_end' %></h1>
        </div>
    </div>

    <div class="line"></div>

    <div class="contact-us">
        <h4>Helpful <%=t '.in_house' %></h4>
        <h4><%=t '.in_house_text' %></h4>
        <a href="mailto:helpful@helpful.io"><%=t '.contact_us' %></a>

    </div>

    <div class="line"></div>

  <div class="footer">
    <div class="assembly-logo">
      <%= image_tag "assembly_logo.png" %>
    </div>
    <h4>Assembly Made</h4>
  </div>
</div>
