<div class="l-home">
  <div class="fold fold-center">
    <div class="container">
      <center>
        <div class="logo logo-default"></div>
      </center>

      <h1 class="text-black">Helpful</h1>
      <p class="text-muted">Help that doesn't hurt</p>

      <a href="<%= new_account_path %>" class="btn btn-success">Sign Up</a>
      <a href="<%= new_user_session_path %>" class="btn btn-default">Sign In</a>
    </div>
  </div>

  <div class="fold fold-center">
    <div class="container">
      <h4>Easier than Email</h4>
      <p>
        You won’t need help using Helpful. Our simple interface lets you and your company quickly respond and deal with confused customers.
      </p>

      <h4>Grows with your company</h4>
      <p>
        With Helpful.io, you pay for the number of open support conversations you have. Everybody can (and should) answer support.
      </p>

      <h4>Whitelabel Support</h4>
      <p>
        Want to bring Helpful.io in house? Helpful is fully customizable. Add your own branding and integrate your workflow with our powerful API.
      </p>

      <h4>Open Source</h4>
      <p>
        Fork and build Helpful on Assembly. Want a feature? Add it yourself and receive a share of Helpful's profit.
      </p>
    </div>
  </div>

  <div class="fold fold-center">
    <div class="container">
      <h6>Pricing</h6>
      <br/>
      <table class="billing-plan-table">
        <thead>
          <tr>
            <% @billing_plans.each do |plan| %>
              <th class="billing-plan-table-header <%= plan.slug %>">
                <%= plan.name %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @billing_plans.each do |plan| %>
              <td class="billing-plan-table-description">
                <%= pluralize(plan.max_conversations, 'conversation') %>
              </td>
            <% end %>
          </tr>
          <tr>
            <% @billing_plans.each do |plan| %>
              <td class="billing-plan-table-price">
                <%= number_to_currency(plan.price) %> / m
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <br/>

      <small class="text-muted">
        Helpful is <i>free</i> for up to 5 conversations.
        <br/>
        There are no contracts and plans can be cancelled at any time.
      </small>

      <br/>
      <br/>

      <p>
        <strong>Enterprise</strong>. More conversations? Firewall? Whitelabeling? <a href="mailto:helpful@helpful.io">Please contact us</a>.
      </p>


    </div>
  </div>

  <center class="container">
    <a class="btn btn-lg btn-success btn-block" href="<%= new_account_path %>">
      Sign up
    </a>
  </center>

  <div class="fold fold-center">
    <div class="container">
      <a href="<%= root_path %>">Helpful</a>.
      By <a href="https://assemblymade.com/helpful">Assembly</a>.
    </div>
  </div>

</div>
