<% content_for :meta do -%>
  <title>Helpful is a simple support tool you won't need help using.</title>
  <meta property="og:site_name" content="Helpful" />
  <meta property="og:title" content="Helpful — Help that doesn't hurt">
  <meta property="og:url" content="http://helpful.io/">
  <meta property="og:image" content="<%= image_url('logo-64.png') %>"/>
  <meta property="og:description" content="Helpful is a simple support tool you won't need help using.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Helpful">
  <meta name="twitter:description" content="Helpful is a simple support tool you won't need help using.">
  <meta name="twitter:image:src" content="<%= image_url('logo.png') %>">
  <meta name="twitter:domain" content="helpful.io">
<% end -%>

<div class="backdrop">

  <%= link_to 'Sign in', new_user_session_path, class: 'btn signin_absolute btn-default' %>

  <div class="page page-full page-center text-center">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay=".4s">
            <%= image_tag('logo.png', data: {animate_logo: "" }) %>
            <h1 data-animate-heading>We redesigned the support tool to get out of the way, so you focus on being a helpful human.</h1>
            <p data-animate-lead>Helping your customers with good answers and thoughtful direction should be a breeze, focused 100% on support &ndash; and nothing else.</p>
            <%= link_to 'Sign up and see how simple it is', new_accounts_path, rel: 'signup', class: 'btn btn-default btn-lg', style: 'margin-top: 20px' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop" style="position: relative; z-index: -3">
  <div id="page-showcase" class="backdrop-shadow" style="position: relative">
    <div class="container" style="position: relative; z-index: -2">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.0s">
            <%= image_tag('home/app.png', class: 'img-responsive', style: 'margin-left: auto; margin-right: auto; margin-bottom: -10%') %>
          </div>
        </div>
      </div>
    </div>

    <div class="container hidden-xs" style="position: absolute; bottom: 0; left: 0; right: 0; z-index: -1">
      <div class="row">
        <div class="col-xs-6">
          <div class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.5s">
            <%= image_tag('home/widget.png', class: 'img-responsive', style: 'margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: -50%') %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.5s">
            <%= image_tag('home/email.png', class: 'img-responsive', style: 'margin-left: auto; margin-right: auto; margin-bottom: -50%') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 120px; padding-bottom: 120px">

  <h3 class="text-uppercase text-center" style="padding-bottom: 40px">Built with your customers in mind</h3>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          <span class="geomicon geomicon-envelope"></span>
          Feels personal to your customers
        </h4>
        <p>Customers receive emails from your support team just like they would if you had personally sent them. No automated robot-queue junk in each email; just a direct conversation with your users.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          <span class="geomicon geomicon-lightning"></span>
          Fast, simple features that serve a purpose
        </h4>
        <p>Helpful is built for speed. Read messages, assign co-workers to help out, organize, and respond in seconds without ever leaving the inbox.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          <span class="geomicon geomicon-box"></span>
          Choose your communication method
        </h4>
        <p>Helpful comes with a embeddable help box you can install on your own website. This lets your customers quickly send you feedback from any page. Needs something even more custom? Use our API.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="padding-large">
        <h4>
          <span class="geomicon geomicon-users"></span>
          Unlimited team members
        </h4>
        <p>Let everyone on your team talk to your customers without paying any additional costs. Helpful is priced on conversations, not how many seats you need so invite the CEO and even the new intern.</p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom: 120px">
  <h3 class="text-uppercase text-center" style="padding-bottom: 40px">Simple pricing that fits your business as it grows</h3>

  <div class="col-4 mx-auto text-center">
    <div class="panel panel-default text-center">
      <h4 class="text-capitalize">
        Pro
      </h4>
      <p>
        <%= number_to_currency(30, precision: 0) %>/month
      </p>

      <%= link_to new_accounts_path, class: 'btn btn-default' do %>
        <span class="plan-select-message">
          Sign up
        </span>
      <% end %>

    </div>

    <p className="mt3">
      Need to install Helpful behind your firewall? <a href="#" data-helpful="helpful">Contact us</a> for a <strong>self-hosted license</strong>.
    </p>

  </div>
</div>

<div class="container" style="padding-bottom: 120px">
  <h3 class="text-uppercase text-center" style="padding-bottom: 40px">Built by the community on <a href="https://assembly.com">Assembly</a></h3>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <p>All product decisions, design mockups, bug reports, new features
        ideas, and customer feedback are publically available on Assembly. You
        can chat with the core team or even contribute work of your own and
        receive part of Helpful's future profits.</p>
        <%= link_to 'Start contributing on Assembly', 'https://assembly.com/helpful' %>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/home/footer' %>

<% if Rails.env.development? %>
  <%= javascript_include_tag 'widget' %>
<% else %>
  <script async src="//assets.helpful.io/assets/widget.js"></script>
<% end %>
<script>mixpanel.track("view.homepage");</script>
