<div class="l-home">

    <%= render 'pages/home/header' %>

    <%= render 'pages/home/hero' %>

    <div class="conversation">
    </div>

    <%= render 'pages/home/demo' %>

    <div class="demo-image">
        <div class="screenshot"></div>
    </div>

    <div class="line"></div>

    <div class="pricing">
        <div class="pricing-text">
          <h4 class="pricing-text-1">Help that grows with you</h4>
          <h4 class="pricing-text-2">Pricing is by volume so you can start small and we'll grow as your support needs grow.</h4>
        </div>

        <%= render 'pages/home/pricing_table' %>

        <div class="pricing-text-end">
          <h1>There are no contracts and plans can be cancelled at any time.</h1>
        </div>
    </div>

    <div class="line"></div>

    <div class="contact-us">
        <h4>Helpful In-House</h4>
        <h4>If you prefer to make software your own, you can take Helpful indoors and whitelabel it for your own purposes.</h4>
        <a href="helpful@helpful.io">Contact Us</a>

    </div>

    <div class="line"></div>

    <div class="footer">
        <div class="assembly-logo">
            <%= image_tag "assembly_logo.png" %>
        </div>
        <h4>Assembly Made</h4>
    </div>

</div>
