<% content_for :meta do -%>
  <title>Helpful is a simple support tool you won't need help using.</title>
  <meta property="og:site_name" content="Helpful" />
  <meta property="og:title" content="Helpful — Help that doesn't hurt">
  <meta property="og:url" content="http://helpful.io/">
  <meta property="og:image" content="<%= image_url('logo-64.png') %>"/>
  <meta property="og:description" content="Helpful is a simple support tool you won't need help using.">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Helpful">
  <meta name="twitter:description" content="Helpful is a simple support tool you won't need help using.">
  <meta name="twitter:image:src" content="<%= image_url('logo.png') %>">
  <meta name="twitter:domain" content="helpful.io">
<% end -%>

<div class="backdrop">
  <div class="page page-full page-center text-center">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= image_tag('logo.png') %>
            <h1>We redesigned support to get out of the way, so you focus on being a helpful human.</h1>
            <p>Helping your customers with good answers and thoughtful direction should be a breeze, focused 100% on support - and nothing else.</p>
            <p>C'mon, let's see it in action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page page-partial page-showcase">
    <div class="screenshot-list">
      <div class="screenshot">
        <%= image_tag('home/widget_light.png') %>
        <p>Give your customers a simple way to send you a message.</p>
      </div>
      <div class="screenshot">
        <%= image_tag('home/app_light.png') %>
        <p>Manage interactions with customers from a familiar inbox.</p>
      </div>
      <div class="screenshot">
        <%= image_tag('home/email_light.png') %>
        <p>Respond directly with an plain text email.</p>
      </div>
    </div>
  </div>
</div>

<div class="navbar-placeholder">
  <div class="navbar navbar-default navbar-static-top navbar-tall" data-scroll-to-content="true">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">
          Helpful
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li><a href="#customer">Who's it for?</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="btn btn-default">
            Try the Demo
          </button>
        </li>
        <li>
          <button class="btn btn-primary">
            Get Started
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="customer" class="page page-partial page-center">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Helpful will be the perfect tool for some of you, but not all.</h1>
          <p>We built helpful so that we could be more human in our own support. We receive hundreds of support requests across our products per day, but not hundreds of thousands.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="features" class="page page-partial page-center">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Helpful will be the perfect tool for some of you, but not all.</h1>
          <p>We built helpful so that we could be more human in our own support. We receive hundreds of support requests across our products per day, but not hundreds of thousands.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pricing" class="page page-partial page-center">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Helpful will be the perfect tool for some of you, but not all.</h1>
          <p>We built helpful so that we could be more human in our own support. We receive hundreds of support requests across our products per day, but not hundreds of thousands.</p>
        </div>
      </div>
    </div>
  </div>
</div>
