<div class="container fold">
  <div class="logo logo-default"></div>

    <h3>Welcome Back! lol</h3>

    <%= render '/layouts/flash' %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form'}) do |f| %>

      <div class="form-group">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, placeholder: 'email@example.com', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, placeholder: 'Your password', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me, checked: 'checked' %> <%= f.label :remember_me %></div>
      <% end -%>

      <div class="form-actions">
        <%= f.submit 'Sign in', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br/>
    <%= render 'devise/shared/links' %>
  </div>
</div>
