<%= render 'layouts/flash' %>

<div class="container">

  <!-- TODO locale is missing -->
  
  <div class="row">

      <div class="col-md-6 col-md-offset-3">

          <h1 class="page-title">Sign In <%= link_to t('general.sign_up'), new_accounts_path, class: 'btn btn-default pull-right' %></h1>

      </div>

  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>

   <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center">

          <h2><%= t('.welcome_back') %></h2>

          <!-- TODO locale is missing -->
          <p>We just need some quick details from you and then you can get right back to work.</p>

      </div>

    </div>

    <fieldset>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: t('general.email_placeholder'), class: 'form-control inline-label' %>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

          <div class="form-group">
            <%= f.password_field :password, placeholder: t('.password_placeholder'), class: 'form-control inline-label' %>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 clearfix">

          <div class="help-block help-block-right">
            <%= link_to t('general.forgot_password'), new_password_path(resource_name) %>
          </div>

          <div class="checkbox">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me, checked: 'checked' %>
              <%= t('.remember_me') %>
            <% end %>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

          <div class="form-group">
            <%= f.submit t('devise.general.sign_in'), class: 'btn btn-lg btn-primary' %>
          </div>

        </div>

      </div>

    </fieldset>

  <% end %>

</div>
