<%== @message_markdown %>

<% if @recipient.member?(@account) %>
  <p style="font-size:small;-webkit-text-size-adjust:none;color:#666;">
    &mdash;
    <br>
    <%= t('.reply') %>
    <a href="<%= account_conversation_url(@message.account, @message.conversation) %>">
      <%= t('.view') %> Helpful
    </a>
  </p>
<% end %>

<%== @signature_markdown %>
