<div class="event">
  <%= link_to search_account_conversations_path(@account, assignee: assignment_event.user.id) do %>
    <%= avatar_default(assignment_event.user.person) %>
  <% end %>

  <strong>
    <%= link_to assignment_event.user.person.name, search_account_conversations_path(@account, assignee: assignment_event.user.id) %>
    assigned
  </strong>

  <%= link_to search_account_conversations_path(@account, assignee: assignment_event.assignee.id) do %>
    <%= avatar_default(assignment_event.assignee.person) %>
  <% end %>

  <strong>
    <%= link_to assignment_event.assignee.person.name, search_account_conversations_path(@account, assignee: assignment_event.assignee.id) %>
  </strong>

  to this conversation

  <span class="timestamp">
    <%= time_ago_in_words(assignment_event.updated_at) %> <%= t('general.ago') %>
  </span>
</div>
