<h1><%= t('.welcome') %></h1>

<p>
<%= t('.registered') %> <strong><%= @email %></strong>.
<br />
<%= t('.please_confirm') %>
</p>

<hr/>

<p><%= link_to t('confirm_account'), confirmation_url(@resource, :confirmation_token => @token), class: :button %></p>
