<h1><%= t('.reset_password_instructions') %></h1>

<p><%= t('general.hello') %> <strong><%= @resource.email %>!</strong></p>

<p><%= t('.someone_requested') %></p>

<p><%= t('.please_ignore') %></p>

<p><%= t('.wont_change') %></p>

<hr />

<p><%= link_to t('.change_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

