<%= render 'layouts/flash' %>

<div class="container">

  <div class="row">

      <div class="col-md-6 col-md-offset-3">

        <h1 class="page-title"><%= t('.create_account') %></h1>

      </div>

  </div>

  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center">

          <h2>Congrats on the invitation.</h2>

          <!-- TODO locale is missing -->
          <p>We just need some quick details from you and then you can get right to work.</p>

      </div>

    </div>

    <fieldset>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

          <%= render 'shared/error_messages', target: resource %>

          <%= f.hidden_field :invitation_token %>

          <%= fields_for resource.build_person do |ff| %>

            <div class="row">

              <div class="col-md-12">

                <div class="form-group">
                  <!-- TODO: locale is missing -->
                  <%= ff.text_field :name, placeholder: 'Your name', class: 'form-control' %>
                </div>

              </div>

            </div>

          <% end %>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

          <div class="form-group">
            <%= f.email_field :email, placeholder: 'Email address', class: 'form-control inline-label' %>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

          <div class="form-group">
            <%= f.password_field :password, placeholder: 'Password', class: 'form-control inline-label' %>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

          <div class="form-group">
            <%= f.submit t('accounts.new.create_account'), class: 'btn btn-lg btn-primary' %>
          </div>

        </div>

      </div>

    </fieldset>

  <% end %>

</div>
