<div class="l-signup">
  <div class="container">

    <div class="logo logo-default"></div>
      <h3><%= t('.create_account') %></h3>

      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

          <div class="form-group">
            <%= f.label :name, t('accounts.general.your_name'), class: 'form-label' %>
            <%= f.text_field :name, placeholder: t('accounts.general.your_name_placeholder'), class: 'form-control' %>
          </div>

        <%= fields_for Person.new do |ff| %>
          <div class="form-group">
            <%= ff.label :username, t('accounts.general.username'), class: 'form-label' %>
            <%= ff.text_field :username, placeholder: t('accounts.general.username_placeholder'), class: 'form-control' %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :email, t('general.email'), class: 'form-label' %>
          <%= f.email_field :email, placeholder: t('general.email_placeholder'), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, t('general.password'), class: 'form-label' %>
          <%= f.password_field :password, placeholder: t('accounts.new.must_meet_requirements'), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, t('.password_confirmation'), class: 'form-label' %>
          <%= f.password_field :password_confirmation, placeholder: t('accounts.new.must_meet_requirements'), class: 'form-control' %>
        </div>

        <div class="form-actions">
          <%= f.submit t('accounts.new.create_account'), :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
