<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:meta) %>
    <%= yield(:meta) -%>
  <% else %>
    <title>Helpful</title>
  <% end %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Montserrat:700|Lato:300,400,400italic,700" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js" %>
  <%= csrf_meta_tags %>
  <meta name="pusher-key" content="<%= Pusher.key %>">
</head>
<body>
  <%= yield %>
</body>
</html>
