<!DOCTYPE html>
<html>
<head>
  <title>Helpful</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:700|Lato:300,400,400italic,700" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
