<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:meta) %>
    <%= yield(:meta) -%>
  <% else %>
    <title>Helpful</title>
  <% end %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Serif:400,700|Lato:300,400,400italic,700" %>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js" %>
  <%= csrf_meta_tags %>
  <meta name="pusher-key" content="<%= Pusher.key %>">
  <meta name="stripe-token" content="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>">
</head>
<body>
  <div id="wrap">

  <% if @account %>
    <input type="hidden" name="account-slug" value="<%= @account.slug %>">
  <% end %>

  <% if @conversation %>
    <input type="hidden" name="conversation-number" value="<%= @conversation.number %>">
  <% end %>
  <%= yield %>

  </div>

  <footer class="col-md-12">
    <div class="container">
      <div class="row text-center">
        Copyright © 2014, Assembly Made, Inc. All rights reserved.
      </div>
    </div>
  </footer>

</body>
</html>
