<!DOCTYPE html>
<html>
  <head>
    <title>Helpful</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="<%= yield (:body_class) %>">

    <div class="content_wrapper group">
    
      <%= render '/layouts/flash' %>
      <%= render '/layouts/header' %>
      <% if user_signed_in? %>
        <%= render '/layouts/nav' %>
      <% end %>
      <%= yield %>

    </div>

    <%= render '/layouts/footer' %>
    
    <%= javascript_include_tag "embed" %>
  </body>
</html>