<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:700|Lato:300,400,400italic,700" %>
<%= stylesheet_link_tag "mailer/ink" %>
<%= stylesheet_link_tag "mailer/layout" %>
</head>
<body>
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="container">
          <tr>
            <td>
              <table class="row header">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td>
                          <%= image_tag "logo.png" %>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="row">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td>
                          <%= yield %>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
</body>
</html>
