<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Your Message Subject or Title</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:700|Lato:300,400,400italic,700" %>
  <%= stylesheet_link_tag "mailer/reset" %>
  <%= stylesheet_link_tag "mailer/layout" %>
</head>
<body>
<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
  <tr>
    <td valign="top">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
        <tr>
          <td width="10" valign="top"></td>
          <td class="header" valign="top"><%= image_tag "logo.png" %></td>
          <td width="10" valign="top"></td>
        </tr>
        <tr>
          <td width="10" valign="top"></td>
          <td class="content" valign="top"><%= yield %></td>
          <td width="10" valign="top"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- End of wrapper table -->
</body>
</html>
