<%= form_for @account, method: :patch, html: {class: 'form'} do |f| %>

  <fieldset>

    <div class="form-group">

      <h2><%= t('.upgrade_plan') %></h2>

      <p><%= t('.up_help') %></p>

      <script async src="https://assets.helpful.io/assets/widget.js"></script>
      <% if signed_in? %>
        <%= mail_to 'helpful@helpful.io', t('.ask_for_help'), data: {helpful: 'helpful', 'helpful-email' => current_user.email, 'helpful-name' => current_user.name}, class: 'btn btn-default' %>
      <% else %>
        <%= mail_to 'helpful@helpful.io', t('.ask_for_help'), data: {helpful: 'helpful'}, class: 'btn btn-default' %>
      <% end %>

    </div>

    <div class="form-group">
      <div class="row">
        <% BillingPlan.options.each do |plan| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default text-center">
              <h4 class="text-capitalize">
                <%= plan.name %>
              </h4>
              <p>
                <strong><%= plan.max_conversations %> <%= t('.conversations') %></strong>
              </p>
              <p>
                <% if plan.price.zero? %>
                  <%= t('.totally_free') %>
                <% else %>
                  <%= number_to_currency(plan.price, precision: 0) %>/month
                <% end %>
              </p>

              <button class="btn btn-default<% if plan == @account.billing_plan %> plan-subscribed btn-link<% end %>"
              data-plan-slug="<%= plan.slug %>"
              data-plan-name="<%= plan.name %>"
              data-plan-amount="<%= plan.formatted_price %>"
              data-plan-subscribe="<%= !plan.price.zero? %>">

                <span class="geomicon geomicon-check"></span>

                <span class="plan-select-message">
                  <% if plan == @account.billing_plan %>
                    <%= t('.subscribed') %>
                  <% else %>
                    <%= t('.subscribe') %>
                  <% end %>
                </span>

              </button>

            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if signed_in? %>
      <%= mail_to 'helpful@helpful.io', t('.need_more'), data: {helpful: 'helpful', 'helpful-email' => current_user.email, 'helpful-name' => current_user.name}, class: 'btn btn-default' %>
    <% else %>
      <%= mail_to 'helpful@helpful.io', t('.need_more'), data: {helpful: 'helpful'}, class: 'btn btn-default' %>
    <% end %>

    <%= f.hidden_field :billing_plan_slug %>
    <%= f.hidden_field :stripe_token %>
  </fieldset>

<% end %>
