<%= render 'shared/steps' %>

<%= hidden_field_tag :account_slug, @account.slug %>

<div class="container">

  <h1 class="page-title">Start using Helpful!</h1>

  <p>
    Try sending a support request to <%= mail_to @account.mailbox_email.address, @account.mailbox_email.address, class: 'send-email' %> and see how it works. 
  </p>

  <div class="well well-lg empty-inbox">
    <p style="margin-bottom: 0">
      <span class="glyphicon glyphicon-refresh spin" style="margin-right: 10px"></span>
      Keeping an eye on your inbox. Still nothing yet...
    </p>
  </div>

  <div class="panel panel-default panel-lg full-inbox">
    <p style="margin-bottom: 0">
      <span class="glyphicon glyphicon-ok text-success" style="margin-right: 10px"></span>
      Yay! Looks like you're ready to handle support requests like a boss.
    </p>
  </div>

  <div class="pull-right">
    <%= link_to 'Skip this and check out the inbox', inbox_account_conversations_path(@account), class: 'btn btn-default skip-button' %>
    <%= link_to 'Check out the inbox', inbox_account_conversations_path(@account), class: 'btn btn-primary inbox-button' %>
  </div>
</div>

<script>
var checkInbox = function() {
  var checkInterval = setInterval(function() {
    var accountSlug = $('[name=account_slug]').val();

    $.getJSON('/' + accountSlug + '/inbox', function(data) {
      if (data['conversations'].length > 1) {
        notifyConversationCreated();
        clearInterval(checkInterval);
      }
    });
  }, 2000);

  $(document).one(function() {
    clearInterval(checkInterval);
  });
}

var notifyConversationCreated = function() {
  $('.empty-inbox').hide();
  $('.full-inbox').show();

  $('.skip-button').hide();
  $('.inbox-button').show();
}

var sendEmail = function() {
  $('.empty-inbox').show();
  checkInbox();
}

$('.send-email').on('click', function() {
  sendEmail();
});

$('.empty-inbox').hide();
$('.full-inbox').hide();
$('.inbox-button').hide();
</script>
