<%= render 'shared/steps' %>

<%= hidden_field_tag :account_slug, @account.slug %>

<div class="container">

  <h1 class="page-title">Start using Helpful!</h1>

  <p>
    Now that you're signed up, let's give your new Helpful email address a test drive real quick.
  </p>

  <%= mail_to @account.mailbox_email.address, 'Send an email to your new support inbox', subject: ExampleConversation::SUBJECT, body: ExampleConversation::CONTENT, class: 'btn btn-secondary', style: 'margin-bottom: 20px' %>

  <div class="well well-lg empty-inbox">
    <p style="margin-bottom: 0">
      <span class="glyphicon glyphicon-inbox" style="margin-right: 10px"></span>
      Keeping an eye on your inbox. Still nothing yet...
    </p>
  </div>

  <div class="panel panel-default panel-lg full-inbox">
    <p style="margin-bottom: 0">
      <span class="glyphicon glyphicon-ok text-success" style="margin-right: 10px"></span>
      Yay! Looks like you're ready to handle support requests like a boss.
    </p>
  </div>

  <div class="pull-right">
    <%= link_to 'Send an email for me', inbox_account_conversations_path(@account), class: 'btn btn-default skip-button' %>
    <%= link_to 'Check out the inbox', inbox_account_conversations_path(@account), class: 'btn btn-primary inbox-button' %>
  </div>
</div>

<script>
var checkInbox = function() {
  var checkInterval = setInterval(function() {
    var accountSlug = $('[name=account_slug]').val();

    $.getJSON('/' + accountSlug + '/inbox', function(data) {
      if (data['conversations'].length > 0) {
        notifyConversationCreated();
        clearInterval(checkInterval);
      }
    });
  }, 2000);
}

var notifyConversationCreated = function() {
  $('.empty-inbox').hide();
  $('.full-inbox').show();

  $('.skip-button').hide();
  $('.inbox-button').show();
}

$(document).on('ready page:load', function() {
  checkInbox();
  $('.full-inbox').hide();
  $('.inbox-button').hide();
});
</script>
