<%= render 'shared/navbar' %>

<div class="container">
  <h1 class="page-title">
    <%= @account.name %>
  </h1>

  <%= form_for @account, method: :patch, html: {class: 'form'} do |f| %>

    <div class="form-group">
      <%= f.label :name, t('accounts.general.company_name'), class: 'control-label' %>
      <%= f.text_field :name, autofocus: true, placeholder: t('accounts.general.company_name_placeholder'), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :website_url, t('.website'), class: 'control-label' %>
      <%= f.text_field :website_url, placeholder: t('.website_placeholder'), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :signature, t('.signature'), class: 'control-label' %>
      <%= f.text_area :signature, placeholder: t('.signature_placeholder'), class: 'form-control', rows: 3, 'data-autosize' => '' %>
    </div>

    <div class="form-group">
      <%= f.label :webhook_url, t('.webhook_url'), class: 'control-label' %>
      <%= f.text_field :webhook_url, placeholder: t('.webhook_url_placeholder'), class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <%= f.label :prefers_archiving do %>
          <%= t('.auto_archiving') %>
          <%= f.check_box :prefers_archiving %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('.update_account'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <br>

  <% if @account.owner?(current_user) %>
  <h1 class="page-title">
    <%= t('.subscription') %>
  </h1>

  <%= form_for @account, method: :patch, html: {class: 'form'} do |f| %>

    <fieldset>
      
      <h2>Upgrade Your Plan</h2>

      <p>How many support requests do you think you'll have each month? Select the plan that works for you or <a href="mailto:helpful@helpful.io">ask us for help</a>.</p>

      <div class="form-group">
        <div class="list-group list-group-horizontal plan-list">
          <% @plans.each do |plan| %>
            <div class="list-group-item plan">
              <h3>
                <%= plan.name %>
              </h3>
              <p class="plan-info">
                <%= plan.max_conversations %> conversations
              </p>
              <p class="plan-price">
                <% if plan.price.zero? %>
                  Totally Free!
                <% else %>
                  <%= number_to_currency(plan.price, precision: 0) %> per month
                <% end %>
              </p>
              <button class="btn btn-secondary plan-select <%= "btn-selected" if plan == @account.billing_plan %>"
                data-plan-slug="<%= plan.slug %>"
                data-plan-name="<%= plan.name %>"
                data-plan-amount="<%= plan.formatted_price %>"
                data-plan-subscribe="<%= !plan.price.zero? %>">

                <span class="glyphicon glyphicon-ok"></span>
                <span class="plan-select-message">
                  <% if plan == @plans.first %>
                    Subscribed
                  <% else %>
                    Subscribe
                  <% end %>
                </span>

              </button>
            </div>
          <% end %>
        </div>
      </div>

      <p>Think you might go through more than 300 conversations in a month? <a href="mailto:helpful@helpful.io">Let us know</a>, and we'll give you the best deal ever.</p>

      <%= f.hidden_field :billing_plan_slug %>
      <%= f.hidden_field :stripe_token %>

      <div class="form-actions">
        <%= f.submit t('.update_account'), class: 'btn btn-primary' %>
      </div>
    </fieldset>

  <% end %>
  <% end %>

  <h1 class="page-title">
    <%= t('.invitations') %>
  </h1>

  <h4 class="section-title">
    <%= t('.send_invitation') %>
  </h4>

  <% if @user %>
    <%= render 'shared/error_messages', target: @user %>
  <% end %>

  <%= form_for @user, url: invitation_path(:user), html: { method: :post } do |f| %>
    <%= hidden_field_tag :account_id, @account.slug %>
    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :email, class: 'form-control' %></p>
        </div>
        <div class="col-md-3">
          <%= select_tag :membership_role, options_for_select(@account.roles_allowed_by(current_user)), class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.submit 'Send', class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  <% end %>

  <h4 class="section-title">
    <%= t('invitations_sent') %>
  </h4>

  <ul class="list-unstyled">
    <% @account.memberships.each do |membership| %>
      <li>
        <p>
          <% if membership.user.name %>
            <strong><%= membership.user.name %></strong>
          <% else %>
            <%= membership.user.email %>
          <% end %>

          <span class="badge badge-info">
            <%= t('general.roles.' + membership.role) %>
          </span>

          <% unless membership.user.accepted_or_not_invited? %>
            <span class="badge badge-timestamp badge-timestamp-stale">
              <%= t('.invitation_sent') %> <%= time_ago_in_words(membership.user.invitation_sent_at) %> <%= t('general.ago') %>
            </span>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>

  <br>

  <h1 class="page-title">
    <!-- TODO locale is missing -->
    Getting Setup and Technical Details
  </h1>

  <p><%= t('.try_out_command') %></p>

  <pre>
    <code>
      curl -X POST <%= root_url %>incoming_message \
        -H "Accept: application/json" \
        --data "account=<%= @account.slug %>" \
        --data "email=user@example.com" \
        --data "content=I need help please."
    </code>
  </pre>

  <p><%= t('.embed_help_text') %></p>

  <pre>
    <code>
      <%= web_form_code %>
    </code>
  </pre>

  <%= form_for @account, method: :patch, html: {class: 'form'} do |f| %>
    <div class="form-group">
      <%= f.label :webhook_secret, t('.webhook_secret'), class: 'control-label' %>
      <%= f.text_field :webhook_secret, class: 'form-control', readonly: 'readonly' %>
    </div>

    <div class="form-group">
      <%= f.label :mailbox, t('.incoming_email'), class: 'control-label' %>
      <%= f.text_field :mailbox_email, class: 'form-control', readonly: 'readonly' %>
    </div>
  <% end %>
</div>
