<%= render 'shared/navbar' %>

<div class="container">
  <div class="column-content">

    <p><%= t('.try_out_command') %></p>

    <pre>
      <code>
        curl -X POST <%= root_url %>incoming_message \
          -H "Accept: application/json" \
          --data "account=<%= @account.slug %>" \
          --data "email=user@example.com" \
          --data "content=I need help please."
      </code>
    </pre>

    <p><%= t('.embed_form') %> <%= link_to t('.get_code'), web_form_account_path %></p>

    <%= form_for @account, method: :patch, html: {class: 'form'} do |f| %>

      <div class="form-group">
        <%= f.label :name, t('accounts.general.company_name'), class: 'form-label' %>
        <%= f.text_field :name, autofocus: true, placeholder: t('accounts.general.company_name_placeholder'), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :website_url, t('.website'), class: 'form-label' %>
        <%= f.text_field :website_url, autofocus: true, placeholder: t('.website_placeholder'), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :signature, t('.signature'), class: 'form-label' %>
        <%= f.text_area :signature, placeholder: t('.signature_placeholder'), class: 'form-control', rows: 4, 'data-autosize' => '' %>
      </div>

      <div class="form-group">
        <%= f.label :webhook_url, t('.webhook_url'), class: 'form-label' %>
        <%= f.text_field :webhook_url, autofocus: true, placeholder: t('.webhook_url_placeholder'), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :webhook_secret, t('.webhook_secret'), class: 'form-label' %>
        <br />
        <pre><%= @account.webhook_secret %></pre>
      </div>

      <div class="form-group">
        <%= f.label :mailbox, t('.incoming_email'), class: 'form-label' %>
        <br />
        <pre><%= @account.mailbox_email %></pre>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <%= f.label :prefers_archiving, t('.auto_archiving') %>
          <%= f.check_box :prefers_archiving %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit t('.update_account_settings'), :class => "btn btn-primary" %>
      </div>
    <% end %>

    <h2><%= t "devise.invitations.new.header" %></h2>

    <ul>
      <% @account.memberships.each do |membership| %>
        <li>
          <strong><%= membership.user.email %></strong> (<%= t('general.roles.' + membership.role) %>)
          <% if !membership.user.accepted_or_not_invited? %>
            <small class="bg-highlight"><%= t('.invitation_sent') %> <%= time_ago_in_words(membership.user.invitation_sent_at) %> <%= t('general.ago') %></small>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= form_for @user, :url => invitation_path(:user), :html => {:method => :post} do |f| %>

    <% User.invite_key_fields.each do |field| -%>
      <p><%= f.label field %><br />
      <%= f.text_field field %></p>
    <% end -%>
    <p>
      <%= select_tag :membership_role, options_for_select(Membership::ROLES) %>
    </p>

      <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
    <% end %>
  </div>
</div>
