<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <ul class="nav nav-tabs" role="tablist">
        <%# <li class="active"><a href="#getting-started" role="tab" data-toggle="tab">Getting Started</a></li> %>
        <li class="active"><a href="#email-forwarding" role="tab" data-toggle="tab">Setup Email Forwarding</a></li>
        <li><a href="#widget" role="tab" data-toggle="tab">Install Widget on Your Website</a></li>
      </ul>

      <div class="sheet">
        <div class="tab-content">
          <%# <div class="tab-pane active" id="getting-started"></div> %>
          <div class="tab-pane active" id="email-forwarding">
            <p>Let your customers send support requests to an email from your own domain and then automatically forward them to your Helpful account.</p>

            <h3>Forward emails from a Google Apps account</h3>

            <h4>Step 1: Go to your account settings page in Google Apps</h4>
            <p>Login to your Google Apps account. It's usually something like <a href="https://admin.google.com/your-domain.com">https://admin.google.com/&lt;your-domain.com&gt;</a>.</p>
            <p>Click on the "Groups" section from the Admin console. <strong>You may need to expand the "More controls" drawer at the bottom of the screen.</strong></p>

            <span class="thumbnail">
              <%= image_tag 'docs/click-groups-more-controls.png', class: 'img-responsive' %>
            </span>

            <h4>Step 2: Create a new group</h4>
            <p>Click on "Create a group" and enter a name and email address you would like your customers to use for support requests. Make sure you check off the option for "Also allow anyone on the internet to post messages".</p>

            <span class="thumbnail">
              <%= image_tag 'docs/create-group-form.png', class: 'img-responsive' %>
            </span>

            <h4>Step 3: Add your forwarding address to as a member of that group</h4>
            <p>Type in your Helpful address as a member of the group and click "Add".</p>
            <p>You can always find your forwarding address in the settings page of your account.</p>

            <span class="thumbnail">
              <%= image_tag 'docs/group-new-member-form.png', class: 'img-responsive' %>
            </span>

            <p>And that's it! Emails sent to your custom support email show automatically show up in Helpful.</p>

          </div>
          <div class="tab-pane" id="widget">
            <p>Helpful comes with Widget, a nify way to offer direct support to visitors to your website. It lets of offer awesome support right at the point when your customers need it the most.</p>

            <p>Conversations are created from the widget like they would an email, and you reply the the users via an email.</p>

            <span class="thumbnail">
              <%= image_tag 'docs/widget-preview.png' %>
            </span>

            <h3>Setup</h3>

            <p>To install Widget on your website you need to copy and paste the following code your HTML:</p>

            <pre><code>&lt;script async src="https://assets.helpful.io/assets/widget.js"&gt;&lt;/script&gt;</code></pre>

            <p>Then add the <code>data-helpful</code> attribute to any link on your site. The value of the attribute should be the name of your account.</p>

            <pre><code>&lt;a href="#" data-helpful="&lt;HELPFUL ACCOUNT&gt;"&gt;Help!&lt;a&gt;</code></pre>

            <%= mail_to 'helpful@helpful.io', 'Widget example', data: {helpful: 'helpful'} %>

            <h3>Customize</h3>

            <p>If you already have information about your customer, you can save them typing by having it pre-filled.</p>

            <pre><code>&lt;a href="#" data-helpful="&lt;HELPFUL ACCOUNT&gt;" data-helpful-name="Jane Smith" data-helpful-email="jane@example.com"&gt;Help!&lt;a&gt;</code></pre>

            <% if signed_in? %>
              <%= mail_to 'helpful@helpful.io', 'Customized widget example', data: {helpful: 'helpful', 'helpful-email' => current_user.email, 'helpful-name' => current_user.name} %>
            <% else %>
              <%= mail_to 'helpful@helpful.io', 'Customized widget example', data: {helpful: 'helpful'} %>
            <% end %>

          </div>
        </div>
      </div>
    <div>
  </div>
<div>
