<%= render 'shared/steps' %>

<div class="container">

  <h1 class="page-title">Welcome to Helpful</h1>

  <%= form_for @account, html: { role: 'form' } do |f| %>

    <h2>Sign Up for a Free Account</h2>

    <p>We'll get your company and personal information setup so you can be ready to answer those support requests and make some customers happy.</p>

    <fieldset>

      <%= render 'shared/error_messages', target: @account %>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <%= f.label :name, t('accounts.general.company_name'), class: 'control-label' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>

        </div>

      </div>

    </fieldset>

    <!-- TODO: (vanstee) Add support for linking social accounts, prefilling info, and uploading avatars here

    <fieldset>

      <h2>Be a real person to your customers</h2>

      <p>Add a face to the name so your customers can relate to a fellow human</p>

      <div class="form-group">

        <button class="btn btn-secondary">
          <span class="glyphicon glyphicon-user"></span>
          Upload a Picture
        </button>

        <button class="btn btn-default">
          <span class="glyphicon fa fa-twitter"></span>
          Twitter
        </button>

        <button class="btn btn-default">
          <span class="glyphicon fa fa-facebook"></span>
          Facebook
        </button>

        <button class="btn btn-default">
          <span class="glyphicon fa fa-google-plus"></span>
          Google+
        </button>

      </div>

    </fieldset>

    -->

    <fieldset>

      <%= render 'shared/error_messages', target: @user %>

      <h2>Personal Information</h2>

      <%= fields_for @person do |ff| %>

        <div class="row">

          <div class="col-md-12">

            <div class="form-group">
              <%= ff.label :name, 'Full name', class: 'control-label' %>
              <%= ff.text_field :name, class: 'form-control' %>
            </div>

          </div>

        </div>

      <% end %>

      <%= fields_for @user do |ff| %>

        <div class="row">

          <div class="col-md-12">

            <div class="form-group">
              <%= ff.label :email, 'Email address', class: 'control-label' %>
              <%= ff.email_field :email, class: 'form-control' %>
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12">

            <div class="form-group">
              <%= ff.label :password, 'Password', class: 'control-label' %>
              <%= ff.password_field :password, class: 'form-control', placeholder: "Pretend you're a spy. Make it a good one" %>
            </div>

          </div>

        </div>

      <% end %>

    </fieldset>

    <!-- TODO: (vanstee) Add support to add teammates via ajax here

    <fieldset>

      <h2>Invite Teammates</h2>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <label class="control-label">Teammate's Email Address</label>

            <div class="row">
              
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>

              <div class="col-md-3">
                <button class="btn btn-success btn-block">
                  Invited
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <div class="row">
              
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>

              <div class="col-md-3">
                <button class="btn btn-secondary btn-block">Invite</button>
              </div>
            </div>
          </div>

        </div>

      </div>
      
    </fieldset>

    -->

    <!-- TODO: Move to seprate page and auto select free trial

    <fieldset>
      
      <h2>Pick a Plan</h2>

      <p>How many support requests do you think you'll have each month? Select the plan that works for you or <a href="mailto:helpful@helpful.io">ask us for help</a>.</p>

      <div class="form-group">
        <div class="list-group list-group-horizontal plan-list">
          <% @plans.each do |plan| %>
            <div class="list-group-item plan">
              <h3>
                <%= plan.name %>
              </h3>
              <p class="plan-info">
                <%= plan.max_conversations %> conversations
              </p>
              <p class="plan-price">
                <% if plan.price.zero? %>
                  Totally Free!
                <% else %>
                  <%= number_to_currency(plan.price, precision: 0) %> per month
                <% end %>
              </p>
              <button class="btn btn-secondary plan-select <%= "btn-selected" if plan == @plans.first %>"
                data-plan-slug="<%= plan.slug %>"
                data-plan-name="<%= plan.name %>"
                data-plan-amount="<%= plan.formatted_price %>"
                data-plan-subscribe="<%= !plan.price.zero? %>">

                <span class="glyphicon glyphicon-ok"></span>
                <span class="plan-select-message">
                  <% if plan == @plans.first %>
                    Subscribed
                  <% else %>
                    Subscribe
                  <% end %>
                </span>

              </button>
            </div>
          <% end %>
        </div>
      </div>

      <p>Think you might go through more than 300 conversations in a month? <a href="mailto:helpful@helpful.io">Let us know</a>, and we'll give you the best deal ever.</p>

      <%= f.hidden_field :billing_plan_slug %>
      <%= f.hidden_field :stripe_token %>
    </fieldset>

    -->

    <fieldset>

      <h2>Clearly this isn't your first rodeo</h2>

      <p>You're support experience is about to change for the better</p>

      <div class="form-group">
        <%= f.submit 'Sign up and start inviting your team!', class: 'btn btn-primary' %>
      </div>
      
    </fieldset>

  <% end %>

</div>
