<div class="l-signup">
  <div class="container">

    <div class="logo logo-default"></div>

    <h3><%= t('.sign_up_free_account') %></h3>

    <p><%= t('.quick_easy_sign_up') %> <%= t('.no_cc_required') %> <%= t('.already_have_account') %> <%= link_to(t('.please_sign_in'), new_user_session_path)  %>.</p>

    <%= render "/shared/error_messages", :target => @account %>
    <%= render "/shared/error_messages", :target => @new_account_user %>

    <%= form_for @account, html: {class: 'form'} do |f| %>

      <div class="form-group">
        <%= f.label :name, t('accounts.general.company_name'), class: 'form-label' %>
        <%= f.text_field :name, autofocus: true, placeholder: t('accounts.general.company_name_placeholder'), class: 'form-control' %>
      </div>

      <%= fields_for @person do |ff| %>
        <div class="form-group">
          <%= ff.label :name, t('accounts.general.your_name'), class: 'form-label' %>
          <%= ff.text_field :name, placeholder: t('accounts.general.your_name_placeholder'), class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= ff.label :username, t('accounts.general.username'), class: 'form-label' %>
          <%= ff.text_field :username, placeholder: t('accounts.general.username_placeholder'), class: 'form-control' %>
        </div>
      <% end %>

      <%= fields_for @new_account_user do |ff| %>
        <div class="form-group">
          <%= ff.label :email, t('general.email'), class: 'form-label' %>
          <%= ff.email_field :email, placeholder: t('general.email_placeholder'), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= ff.label :password, t('general.password'), class: 'form-label' %>
          <%= ff.password_field :password, placeholder: t('.must_meet_requirements'), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= ff.label :password_confirmation, t('.password_confirmation'), class: 'form-label' %>
          <%= ff.password_field :password_confirmation, placeholder: t('.must_meet_requirements'), class: 'form-control' %>
        </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit t('.create_account'), :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
