<%= render 'shared/steps' %>

<div class="container">

  <h1 class="page-title"><%= t('.welcome_to_helpful') %></h1>

  <%= form_for @account, html: { role: 'form' } do |f| %>

    <h2><%= t('.sign_up_free_account') %></h2>

    <p><%= t('.get_setup_get_ready') %></p>

    <fieldset>

      <%= render 'shared/error_messages', target: @account %>

      <div class="row">

        <div class="col-xs-12 col-md-6">

          <div class="form-group">
            <%= f.label :name, t('accounts.general.company_name'), class: 'control-label' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control', required: true, autocomplete: :off %>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-md-6">

          <div class="form-group">
            <%= f.label :email, t('.helpful_email'), class: 'control-label' %>
            <%= f.text_field :email, class: 'form-control', required: true %>
            <span class="geomicon geomicon-check form-control-feedback" style="display: none"></span>
            <span class="geomicon geomicon-sync  form-control-feedback spin" style="display: none"></span>
            <span class="geomicon geomicon-alert form-control-feedback" style="display: none"></span>
            <span class="help-block"><%= t('.helpful_email_help') %></span>
            <span id="email-error-is-not-unique" class="error-message help-block"><%= t('.helpful_email_error_is_not_unique') %></span>
          </div>

        </div>

      </div>

    </fieldset>

    <fieldset>

      <h2><%= t('.personal_info') %></h2>

      <%= render 'shared/error_messages', target: @user %>

      <%= fields_for @person do |ff| %>

        <div class="row">

          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <%= ff.label :name, t('.full_name'), class: 'control-label' %>
              <%= ff.text_field :name, class: 'form-control', required: true %>
            </div>

          </div>

        </div>

      <% end %>

      <%= fields_for @user do |ff| %>

        <div class="row">

          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <%= ff.label :email, t('.your_email'), class: 'control-label' %>
              <%= ff.email_field :email, class: 'form-control', required: true %>
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <%= ff.label :password, t('general.password'), class: 'control-label' %>
              <%= ff.password_field :password, class: 'form-control', required: true, pattern: '.{8,}', title: 'Make sure you use at least 8 characters' %>
              <span class="help-block"><%= t('.eight_char') %></span>
            </div>

          </div>

        </div>

      <% end %>

    </fieldset>

    <fieldset class="padding-large-top">

      <div class="form-group">
        <%= f.submit t('.sign_up_start_using'), class: 'btn btn-lg btn-primary' %>
        
        <span class="help-block">
          By signing up, you agree to Helpful's <%= link_to 'Terms of Service', terms_path %>.
        </span>
      </div>

    </fieldset>

  <% end %>

</div>
<script>mixpanel.track("view.signup");</script>
