<div class="l-signup">
  <div class="container">

    <div class="logo logo-default"></div>

    <h3>Sign Up for a Free Account</h3>

    <p>Quick and easy sign up process. No credit card is required. If you already have a Helpful account, <%= link_to('please sign in', new_user_session_path)  %>.</p>

    <%= render "/shared/error_messages", :target => @account %>
    <%= render "/shared/error_messages", :target => @new_account_user %>

    <%= form_for @account, url: account_path, html: {class: 'form'} do |f| %>

      <div class="form-group">
        <%= f.label :name, 'Company name', class: 'form-label' %>
        <%= f.text_field :name, autofocus: true, placeholder: 'Acme Corp', class: 'form-control' %>
      </div>

      <%= fields_for @person do |ff| %>
        <div class="form-group">
          <%= ff.label :name, 'Your name', class: 'form-label' %>
          <%= ff.text_field :name, placeholder: 'Jane Doe', class: 'form-control' %>
        </div>
      <% end %>

      <%= fields_for @new_account_user do |ff| %>
        <div class="form-group">
          <%= ff.label :email, class: 'form-label' %>
          <%= ff.email_field :email, placeholder: 'you@example.com', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= ff.label :password, class: 'form-label' %>
          <%= ff.password_field :password, placeholder: 'Must meet *these requirements*', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= ff.label :password_confirmation, class: 'form-label' %>
          <%= ff.password_field :password_confirmation, placeholder: 'Must meet *these requirements*', class: 'form-control' %>
        </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit 'Create my account', :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
