<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>

<div class="container">
  <div class="account">
    <div class="logo"></div>
    <h3>Sign Up for a Free Account</h3>
    <p>Quick and easy sign up process. No credit card required. If you already have a Helpful account, <%= link_to('sign in', new_user_session_path)  %>.</p>

    <%= render "/shared/error_messages", :target => @account %>
    <%= render "/shared/error_messages", :target => @new_account_user %>

    <%= form_for @account, url: account_path do |f| %>

      <div class="input-container"><%= f.label :name, "Company name" %>
        <%= f.text_field :name, :autofocus => true, :placeholder => "Your Company" %></div>
      
      <%= fields_for @person do |ff| %>

        <div class="input-container"><%= ff.label :name, "Your name" %>
          <%= ff.text_field :name, :placeholder => "First Last" %></div>

      <% end %>

      <%= fields_for @new_account_user do |ff| %>
      
        <div class="input-container"><%= ff.label :email %>
          <%= ff.email_field :email, :placeholder => "you@domain.com" %></div>

        <div class="input-container"><%= ff.label :password %>
          <%= ff.password_field :password, :placeholder => "Must meet *these requirements*" %></div>

        <div class="input-container"><%= ff.label :password_confirmation %>
          <%= ff.password_field :password_confirmation, :placeholder => "Must meet *these requirements*" %></div>

      <% end %>

      <div><%= f.submit "Create My Account", :class => "btn large" %></div>
    <% end %>
  </div>
</div>
