<%= render 'shared/steps' %>

<div class="container">

  <!-- TODO: locale is missing -->
  <h1 class="page-title">Welcome to Helpful</h1>

  <%= form_for @account, html: { role: 'form' } do |f| %>

    <!-- TODO: locale is missing -->
    <h2>Sign Up for a Free Account</h2>

    <!-- TODO: locale is missing -->
    <p>We'll get your company and personal information setup so you can be ready to answer those support requests and make some customers happy.</p>

    <fieldset>

      <%= render 'shared/error_messages', target: @account %>

      <div class="row">

        <div class="col-md-12">

          <div class="form-group">
            <%= f.label :name, t('accounts.general.company_name'), class: 'control-label' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control', required: true %>
          </div>

        </div>

      </div>

    </fieldset>

    <!-- TODO: (vanstee) Add support for linking social accounts, prefilling info, and uploading avatars here

    <fieldset>

      <h2>Be a real person to your customers</h2>

      <p>Add a face to the name so your customers can relate to a fellow human</p>

      <div class="form-group">

        <button class="btn btn-default">
          <span class="glyphicon glyphicon-user"></span>
          Upload a Picture
        </button>

        <button class="btn btn-default">
          <span class="glyphicon fa fa-twitter"></span>
          Twitter
        </button>

        <button class="btn btn-default">
          <span class="glyphicon fa fa-facebook"></span>
          Facebook
        </button>

        <button class="btn btn-default">
          <span class="glyphicon fa fa-google-plus"></span>
          Google+
        </button>

      </div>

    </fieldset>

    -->

    <fieldset>

      <!-- TODO: locale is missing -->
      <h2>Personal Information</h2>

      <%= render 'shared/error_messages', target: @user %>

      <%= fields_for @person do |ff| %>

        <div class="row">

          <div class="col-md-12">

            <div class="form-group">
              <!-- TODO: locale is missing -->
              <%= ff.label :name, 'Full name', class: 'control-label' %>
              <%= ff.text_field :name, class: 'form-control', required: true %>
            </div>

          </div>

        </div>

      <% end %>

      <%= fields_for @user do |ff| %>

        <div class="row">

          <div class="col-md-12">

            <div class="form-group">
              <!-- TODO: locale is missing -->
              <%= ff.label :email, 'Email address', class: 'control-label' %>
              <%= ff.email_field :email, class: 'form-control', required: true %>
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-md-12">

            <div class="form-group">
              <!-- TODO: locale is missing -->
              <%= ff.label :password, 'Password', class: 'control-label' %>
              <%= ff.password_field :password, class: 'form-control', placeholder: "Pretend you're a spy. Make it a good one", required: true, pattern: '.{8,}', title: 'Make sure you use at least 8 characters' %>
              <span class="help-block">
                Your password must be at least 8 characters.
              </span>
            </div>

          </div>

        </div>

      <% end %>

    </fieldset>

    <fieldset>

      <!-- TODO: locale is missing -->
      <h2>Clearly this isn't your first rodeo</h2>

      <!-- TODO: locale is missing -->
      <p>Your support experience is about to change for the better</p>

      <div class="form-group">
        <!-- TODO: locale is missing -->
        <%= f.submit 'Sign up and start inviting your team!', class: 'btn btn-primary' %>
      </div>

    </fieldset>

  <% end %>

</div>
