<%= render 'shared/steps' %>

<div class="container">

  <!-- TODO: locale is missing -->
  <h1 class="page-title">Welcome to Helpful</h1>

  <%= form_for @account, html: { role: 'form' } do |f| %>

    <!-- TODO: locale is missing -->
    <h2>Sign Up for a Free Account</h2>

    <!-- TODO: locale is missing -->
    <p>We'll get your company and personal information setup so you can be ready to answer those support requests and make some customers happy.</p>

    <fieldset>

      <%= render 'shared/error_messages', target: @account %>

      <div class="row">

        <div class="col-xs-12 col-md-6">

          <div class="form-group">
            <%= f.label :name, t('accounts.general.company_name'), class: 'control-label' %>
            <%= f.text_field :name, autofocus: true, class: 'form-control', required: true, autocomplete: :off %>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-md-6">

          <div class="form-group">
            <%= f.label :email, 'Helpful Email', class: 'control-label' %>
            <%= f.text_field :email, autofocus: true, class: 'form-control', required: true %>
            <span class="geomicon geomicon-check form-control-feedback" style="display: none"></span>
            <span class="geomicon geomicon-sync  form-control-feedback spin" style="display: none"></span>
            <span class="geomicon geomicon-alert form-control-feedback" style="display: none"></span>
            <span class="help-block">This is the email your customers will use to send you support requests.</span>
          </div>

        </div>

      </div>

    </fieldset>

    <fieldset>

      <!-- TODO: locale is missing -->
      <h2>Personal Information</h2>

      <%= render 'shared/error_messages', target: @user %>

      <%= fields_for @person do |ff| %>

        <div class="row">

          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <!-- TODO: locale is missing -->
              <%= ff.label :name, 'Full name', class: 'control-label' %>
              <%= ff.text_field :name, class: 'form-control', required: true %>
            </div>

          </div>

        </div>

      <% end %>

      <%= fields_for @user do |ff| %>

        <div class="row">

          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <!-- TODO: locale is missing -->
              <%= ff.label :email, 'Email address', class: 'control-label' %>
              <%= ff.email_field :email, class: 'form-control', required: true %>
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <!-- TODO: locale is missing -->
              <%= ff.label :password, 'Password', class: 'control-label' %>
              <%= ff.password_field :password, class: 'form-control', required: true, pattern: '.{8,}', title: 'Make sure you use at least 8 characters' %>
              <span class="help-block">
                Make sure you use at least 8 characters.
              </span>
            </div>

          </div>

        </div>

      <% end %>

    </fieldset>

    <fieldset class="padding-large-top">

      <div class="form-group">
        <!-- TODO: locale is missing -->
        <%= f.submit 'Sign up and start inviting your team!', class: 'btn btn-lg btn-primary' %>
      </div>

    </fieldset>

  <% end %>

</div>
