<p><%= t('general.hello') %> <%= @resource.email %>!</p>

<p><%= t('.someone_invited') %> <%= root_url %>, <%= t('.you_can_accept') %></p>

<p><%= link_to t('.accept'), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= t('.dont_want') %><br />
<%= t('.account_wont_be_created') %></p>
